{
    "openapi": "3.0.0",
    "info": {
        "title": "e-Attestations 'EDGE' API",
        "version": "EDGE - v1.3.0",
        "description": "\n# 🚀 The evergreening 'EDGE' API\n\n\n![Logo](https://e-attestations.io/img/logo-e-Attestations-tech.png)\n\n\n**Thank you** dear reader for reading this documentation that l'Atelier at e-attestations made with ❤.\n\n\n\n## Objectives\n\ne-Attestations EDGE API is used to ** interface ** a **client** information system with the e-Attestations platform following the HTTP protocol.\n\n[REST] (https://en.wikipedia.org/wiki/Representational_state_transfer) (Representational State Transfer) or RESTful is a style of architecture used to build applications (Web, Intranet, Web Service) by using endpoints ( endpoints urls) and referencing resources to be exploited according to the verbs of the HTTP protocol (GET, POST, PUT, DELETE etc ...).\n\n## Principles\n\nOur APIs contain predictable resource-oriented URLs, that accept request bodies encoded in [JSON](https://en.wikipedia.org/wiki/JSON) format, that return encoded responses [JSON](https://en.wikipedia.org/wiki/JSON) and that use standard HTTP responses codes (200, 404, etc.), with a HTTP authentication using headers and HTTP verbs (GET, POST, etc.).\n\nThe 'Client' application that uses the e-Attestations 'EDGE' API can enrich/enhance custome's Information System with data and processes provided and developped by e-Attestations in a secure and very flexible manner.\n\n## Use Cases\n\nThe 'EDGE' API can be used by any system which can interact through the Internet, like :\n\n- WebApps\n- Mobiles Apps\n- Busioness Application or platform (SAP, SalesForce...), \n- Any software that consumes REST, or API connectors (Zapier, ZohoCRM, etc.).\n\n\n## Postman collection\n\nWe provide you with a pretty huge Postman collection that you can find  [here](https://documenter.getpostman.com/view/3000526/TVKD3xcz)\n\nFeel free to explore all the scenario we shared with you !\n\nYou can let the tool write the code for you !\n\n\n## How we wrote this documentation ?\n\n\nThis documentation has been written by us, L'Atelier at e-Attestations, the team of conceptors and developpers who develop everything :-)\n\nBecause we love read good documentation, we wrote this one thinking as developer for the best developer experience possible.\n\nBecause we though that that was not enough, you will find more resources on [https://e-attestations.io](https://e-attestations.io) like Posman collection, scripts, a CLI (in active developement), articles and more.\n\nVisit [https://e-attestations.io](https://e-attestations.io)\n\n\n## Contact us\n\nYou want to subscribe, get credentials, send somme feeback ? \n\nFeel free to contact us by email at [api@eattestationscom.zohodesk.eu](mailto:api@eattestationscom.zohodesk.eu)\n",
        "termsOfService": "https://e-attestations.io",
        "contact": {
            "name": "Support",
            "url": "https://e-attestations.io",
            "email": "api@eattestationscom.zohodesk.eu"
        },
        "x-logo": {
            "url": "https://e-attestations.io/img/cropped-logo-eattestations-2.png",
            "altText": "e-Attestations"
        }
    },
    "servers": [
        {
            "url": "https://edge.e-attestations.com/api/v1",
            "description": "PROD"
        },
        {
            "url": "https://edge.test-e-attestations.com/api/v1",
            "description": "TEST"
        }
    ],
    "paths": {
        "/account": {
            "summary": "This resource is the ordering customer and service subscriber to e-Attestations account.",
            "description": "This resource is the ordering customer and service subscriber to e-Attestations account.\n\nThe account identifier is returned in the `account_ids` returned in the JWT token.\n\nIn addition, you can also retrieve your account identifier from the `/account` endpoint without any parameters.\n\nAll requests must include the customer identifier so that every time the account's activation and subscription to the service are verified",
            "get": {
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account",
                                    "description": "The response has a 'content' property containing statistics and an optional messages attribute (info, warn or error)",
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/Account"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Account": {
                                        "value": {
                                            "id": 68,
                                            "account": "some text",
                                            "company": "some text",
                                            "creation": "2018-02-10T09:30Z",
                                            "maxDossiers": 63,
                                            "name": "some text",
                                            "subscriptionDate": "2018-02-10T09:30Z",
                                            "subscriptions": [
                                                {
                                                    "accountId": 85,
                                                    "endSubscriptionDate": "2018-02-10T09:30Z",
                                                    "key": "some text",
                                                    "startSubscriptionDate": "2018-02-10T09:30Z",
                                                    "status": "some text"
                                                },
                                                {
                                                    "accountId": 41,
                                                    "endSubscriptionDate": "2018-02-10T09:30Z",
                                                    "key": "some text",
                                                    "startSubscriptionDate": "2018-02-10T09:30Z",
                                                    "status": "some text"
                                                }
                                            ],
                                            "subscriptionStatus": "some text"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "The account information associated with the TOKEN allows to know the account id and subscription to the service."
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Account information",
                "description": "Account and subscriptions details"
            }
        },
        "/account/{accountId}": {
            "summary": "Account statistics, usage and indicators",
            "description": "Provides the overall statistics of the account.",
            "get": {
                "tags": [
                    "Account"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GlobalInformation",
                                    "description": "The response has a 'content' property containing statistics and an optional messages attribute (info, warn or error)",
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/GlobalInformation"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "GlobalInformation of a given account": {
                                        "value": {
                                            "numberOfThirdparties": 66,
                                            "numberOfSubscribedThirdparties": 49,
                                            "numberOfCompleteThirdparties": 87,
                                            "numberOfDossiers": 57,
                                            "numberOfCompleteDossiers": 45,
                                            "listIndicatorsStatistics": [
                                                {
                                                    "indicatorCode": "some text",
                                                    "numberOfThirdparties": 86,
                                                    "numberOfSubscribedThirdparties": 48,
                                                    "numberOfCompleteThirdparties": 16,
                                                    "numberOfDossiers": 23,
                                                    "numberOfCompleteDossiers": 29
                                                },
                                                {
                                                    "indicatorCode": "some text",
                                                    "numberOfThirdparties": 66,
                                                    "numberOfSubscribedThirdparties": 48,
                                                    "numberOfCompleteThirdparties": 83,
                                                    "numberOfDossiers": 51,
                                                    "numberOfCompleteDossiers": 59
                                                }
                                            ],
                                            "accountId": 29
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Gloable statistics and statistics by indicators. An indicator refers to a subset of required documents. Eg For the indicator \"obligation of vigilance\", the statistics will relate only to the documents of the obligation of vigilance, namely the certificate of vigilance, the proof of registration and the list of foreign employees subject to work authorization ."
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Account statistics",
                "description": "Fetches the overall statistics of the account. The statistics relate only to the third parties monitored. A monitored Thirdparty is a Thirdparty for which there is at least one active dossier. The statistics relate to third parties and dossiers completeness."
            }
        },
        "/account/{accountId}/thirdparties/{thirdpartyId}": {
            "summary": "Thirdparties details by Id",
            "description": "You use this endpoint with the thirdpartyId and fetch its details data representation.",
            "get": {
                "tags": [
                    "Thirdparties"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "thirdpartyId",
                        "description": "Thirdparty ID",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThirdpartyDetails",
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/ThirdpartyDetails"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Thirdparty details example": {
                                        "value": {
                                            "thirdpartyId": 99,
                                            "accountId": 55,
                                            "companyIdType": "some text",
                                            "companyIdValue": "some text",
                                            "thirdpartyCode": "some text",
                                            "monitored": true,
                                            "name": "some text",
                                            "addressStreet": "some text",
                                            "addressCity": "some text",
                                            "addressPostCode": "some text",
                                            "addressCountryCode": "some text",
                                            "subscriptionState": true,
                                            "subscriptionDate": "2018-01-17",
                                            "subscriptionKey": "some text",
                                            "outOfBusiness": true,
                                            "stateLastChangeDate": "2018-01-17",
                                            "thirdpartyGlobalState": true,
                                            "acronym": "some text",
                                            "activityCode": "some text",
                                            "activityLabel": "some text",
                                            "capital": 72,
                                            "capitalCurrency": "some text",
                                            "ceo": "some text",
                                            "datecreation": "2018-01-17",
                                            "lastBalanceSheetDate": "2018-01-17",
                                            "legalCategoryCode": "some text",
                                            "legalCategoryLabel": "some text",
                                            "siren": "some text",
                                            "siret": "some text",
                                            "turnover": 76.2,
                                            "turnoverCurrency": "some text",
                                            "tva": "some text",
                                            "workforce": 57,
                                            "thirdpartyUsers": [
                                                {
                                                    "firstname": "some text",
                                                    "lastname": "some text",
                                                    "email": "",
                                                    "phone": "some text"
                                                },
                                                {
                                                    "firstname": "some text",
                                                    "lastname": "some text",
                                                    "email": "",
                                                    "phone": "some text"
                                                }
                                            ],
                                            "isMonitored": "some text",
                                            "isOutOfBusiness": "some text",
                                            "isRegistered": "some text",
                                            "isComplete": "some text",
                                            "active": true,
                                            "isActive": "some text"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Returns a JSON word containing detailed information from the Thirdparty"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId) ou aucun tiers avec cet identifiant(thirdpartyId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Thirdparty details",
                "description": "Fetch details of one thirdparty"
            }
        },
        "/account/{accountId}/dossiers/{dossierId}": {
            "summary": "Fetch dossier details based on the given id",
            "get": {
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Identifiant d'un dossier.",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dossier",
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/Dossier"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Dossier details": {
                                        "value": {
                                            "dossierId": 31,
                                            "accountId": 53,
                                            "thirdpartyId": 37,
                                            "companyIdType": "some text",
                                            "companyIdValue": "some text",
                                            "thirdpartyCode": "some text",
                                            "companyCountryCode": "some text",
                                            "monitored": true,
                                            "dossierReference": "some text",
                                            "description": "some text",
                                            "purchasingCategory": "some text",
                                            "startingDate": "2018-01-17",
                                            "expirationDate": "2018-01-17",
                                            "stoppingDate": "2018-01-17",
                                            "stoppingReason": "some text",
                                            "state": true,
                                            "stateLastChangeDate": "2018-01-17",
                                            "indicators": [
                                                {
                                                    "indicatorCode": "some text",
                                                    "state": true,
                                                    "lastChangeDate": "2018-01-17",
                                                    "isComplete": "some text"
                                                },
                                                {
                                                    "indicatorCode": "some text",
                                                    "state": true,
                                                    "lastChangeDate": "2018-01-17",
                                                    "isComplete": "some text"
                                                }
                                            ],
                                            "documents": [
                                                {
                                                    "documentId": 82,
                                                    "documentCode": "some text",
                                                    "requestDate": "2018-01-17",
                                                    "present": true,
                                                    "isPresent": "some text",
                                                    "evidences": [
                                                        {
                                                            "uploadDate": "2018-01-17",
                                                            "fileUUID": "",
                                                            "fileCreation": "2018-01-17",
                                                            "fileSize": 6,
                                                            "expirationDate": "2018-01-17",
                                                            "metadata": {
                                                                "key": "some text"
                                                            },
                                                            "formdata": [
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 83,
                                                                    "value": "some text"
                                                                },
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 12,
                                                                    "value": "some text"
                                                                }
                                                            ],
                                                            "id": 5
                                                        },
                                                        {
                                                            "uploadDate": "2018-01-17",
                                                            "fileUUID": "",
                                                            "fileCreation": "2018-01-17",
                                                            "fileSize": 89,
                                                            "expirationDate": "2018-01-17",
                                                            "metadata": {
                                                                "key": "some text"
                                                            },
                                                            "formdata": [
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 98,
                                                                    "value": "some text"
                                                                },
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 0,
                                                                    "value": "some text"
                                                                }
                                                            ],
                                                            "id": 30
                                                        }
                                                    ],
                                                    "documentName": "some text",
                                                    "documentNameEn": "some text"
                                                },
                                                {
                                                    "documentId": 35,
                                                    "documentCode": "some text",
                                                    "requestDate": "2018-01-17",
                                                    "present": true,
                                                    "isPresent": "some text",
                                                    "evidences": [
                                                        {
                                                            "uploadDate": "2018-01-17",
                                                            "fileUUID": "",
                                                            "fileCreation": "2018-01-17",
                                                            "fileSize": 48,
                                                            "expirationDate": "2018-01-17",
                                                            "metadata": {
                                                                "key": "some text"
                                                            },
                                                            "formdata": [
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 21,
                                                                    "value": "some text"
                                                                },
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 21,
                                                                    "value": "some text"
                                                                }
                                                            ],
                                                            "id": 67
                                                        },
                                                        {
                                                            "uploadDate": "2018-01-17",
                                                            "fileUUID": "",
                                                            "fileCreation": "2018-01-17",
                                                            "fileSize": 86,
                                                            "expirationDate": "2018-01-17",
                                                            "metadata": {
                                                                "key": "some text"
                                                            },
                                                            "formdata": [
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 43,
                                                                    "value": "some text"
                                                                },
                                                                {
                                                                    "type": "some text",
                                                                    "key": "some text",
                                                                    "title": "some text",
                                                                    "order": 58,
                                                                    "value": "some text"
                                                                }
                                                            ],
                                                            "id": 66
                                                        }
                                                    ],
                                                    "documentName": "some text",
                                                    "documentNameEn": "some text"
                                                }
                                            ],
                                            "isMonitored": "some text",
                                            "siren": "some text",
                                            "siret": "some text",
                                            "tva": "some text",
                                            "isComplete": "some text"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Fetch dossier details"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Dossier's details",
                "description": "Détails d'un dossier"
            },
            "post": {
                "requestBody": {
                    "description": "Data to update for a dossier",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DossierUpdate"
                            },
                            "examples": {
                                "Dossier creation example": {
                                    "value": {
                                        "dossierReference": "some text",
                                        "description": "some text",
                                        "purchasingCategory": "some text",
                                        "expirationDate": "2018-01-17",
                                        "thirdpartyCode": "some text",
                                        "thirdpartyEmail": [
                                            "",
                                            ""
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DossierProcessResult",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successful update"
                    },
                    "400": {
                        "description": "Error in the body of the request. Check error message for details"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Update on dossier",
                "description": "Update one data's dossier (synchronously)\n\n## Error codes\n\nDuring the update, the API can raise an error that you have to interpret and adapt you logic/coding on.\n\nThis is the error code list you need to know.\n\nCodes | Errors when updating a folder\n-----|---------------------------------\nE200 | There is no dossier for this criteria\nE201 | This dossier is disabled\nE202 | This dossier reference already exists for this client / supplier couple\nE203 | There is no dossier for this reference\nE204 | This dossier is already active\nE205 | This dossier to reactivate has an outdated date for its re-activation. Please provide a date in the future.\nE301 | This document/requirement is deactivated\nE302 | This document/requirement is not authorized\n\n"
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/documents": {
            "summary": "Documents set for one dossier",
            "description": "Fetch the documents set for this dossier.",
            "get": {
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Identifiant d'un dossier.",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Document"
                                    },
                                    "properties": {
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Document"
                                            }
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Dossiers documents": {
                                        "value": [
                                            {
                                                "documentId": 2,
                                                "documentCode": "some text",
                                                "requestDate": "2018-01-17",
                                                "present": true,
                                                "isPresent": "some text",
                                                "evidences": [
                                                    {
                                                        "uploadDate": "2018-01-17",
                                                        "fileUUID": "",
                                                        "fileCreation": "2018-01-17",
                                                        "fileSize": 56,
                                                        "expirationDate": "2018-01-17",
                                                        "metadata": {
                                                            "key": "some text"
                                                        },
                                                        "formdata": [
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 48,
                                                                "value": "some text"
                                                            },
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 67,
                                                                "value": "some text"
                                                            }
                                                        ],
                                                        "id": 47
                                                    },
                                                    {
                                                        "uploadDate": "2018-01-17",
                                                        "fileUUID": "",
                                                        "fileCreation": "2018-01-17",
                                                        "fileSize": 85,
                                                        "expirationDate": "2018-01-17",
                                                        "metadata": {
                                                            "key": "some text"
                                                        },
                                                        "formdata": [
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 67,
                                                                "value": "some text"
                                                            },
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 51,
                                                                "value": "some text"
                                                            }
                                                        ],
                                                        "id": 24
                                                    }
                                                ],
                                                "documentName": "some text",
                                                "documentNameEn": "some text"
                                            },
                                            {
                                                "documentId": 30,
                                                "documentCode": "some text",
                                                "requestDate": "2018-01-17",
                                                "present": true,
                                                "isPresent": "some text",
                                                "evidences": [
                                                    {
                                                        "uploadDate": "2018-01-17",
                                                        "fileUUID": "",
                                                        "fileCreation": "2018-01-17",
                                                        "fileSize": 50,
                                                        "expirationDate": "2018-01-17",
                                                        "metadata": {
                                                            "key": "some text"
                                                        },
                                                        "formdata": [
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 34,
                                                                "value": "some text"
                                                            },
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 90,
                                                                "value": "some text"
                                                            }
                                                        ],
                                                        "id": 63
                                                    },
                                                    {
                                                        "uploadDate": "2018-01-17",
                                                        "fileUUID": "",
                                                        "fileCreation": "2018-01-17",
                                                        "fileSize": 54,
                                                        "expirationDate": "2018-01-17",
                                                        "metadata": {
                                                            "key": "some text"
                                                        },
                                                        "formdata": [
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 38,
                                                                "value": "some text"
                                                            },
                                                            {
                                                                "type": "some text",
                                                                "key": "some text",
                                                                "title": "some text",
                                                                "order": 38,
                                                                "value": "some text"
                                                            }
                                                        ],
                                                        "id": 8
                                                    }
                                                ],
                                                "documentName": "some text",
                                                "documentNameEn": "some text"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Retourne les documents d'un dossier."
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Documents",
                "description": "Fetch dossier's documents"
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/documents/{documentId}": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Identifiant d'un dossier.",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "documentId",
                        "description": "Identifiant d'un document.",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DossierRequirement"
                                    },
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/Document"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Dossier documents example": {
                                        "value": [
                                            {
                                                "documentId": 60,
                                                "accountId": 10,
                                                "code": "some text",
                                                "name": "some text",
                                                "nameEn": "some text",
                                                "dossierId": 87
                                            },
                                            {
                                                "documentId": 76,
                                                "accountId": 31,
                                                "code": "some text",
                                                "name": "some text",
                                                "nameEn": "some text",
                                                "dossierId": 1
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Retourne les détails d'un documents d'un dossier."
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId) ou aucun document avec et identiant"
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Dossier details",
                "description": "Dossier details."
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/documents/{documentId}/files/{fileId}": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier's Id",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "documentId",
                        "description": "Document's Id",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "fileId",
                        "description": "File's id",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "format": "binary",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "File content as 'application/octet-stream' MIME type"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No file content available"
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Download file content",
                "description": "Download a copy of the content of the last active evidence content of the file. Client system have to name it and save it."
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/stop": {
            "post": {
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Stop monitoring"
                    },
                    "400": {
                        "description": "Malformed request ou Dossier déjà non suivi."
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Stop monitoring",
                "description": "Stop monitoring and workflow. The thirdpary won't bas ask anymore for dossier's requirements"
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/reactivate": {
            "post": {
                "requestBody": {
                    "description": "Data to update for one dossier",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReactivateDossierData"
                            },
                            "examples": {
                                "Reactivate example": {
                                    "value": {
                                        "expirationDate": "2022-01-17"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successful dossier reactivation"
                    },
                    "400": {
                        "description": "Malformed request ou Dossier déjà suivi ou date d'expiration dans le passé."
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Reactivate one dossier",
                "description": "Reactivate this dossier and restart continuus monitoring"
            }
        },
        "/account/{accountId}/requirements": {
            "summary": "Account requirements",
            "description": "Your account is allowed and configurer to use a set of requirment that you can use in your dossier.\n\nFind more information on this configuration by contacting your e-Attestations key account manager.",
            "get": {
                "tags": [
                    "Requirements"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Requirement"
                                    },
                                    "properties": {
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Requirement"
                                            }
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Account requirements example": {
                                        "value": [
                                            {
                                                "documentId": 41,
                                                "accountId": 31,
                                                "code": "some text",
                                                "name": "some text",
                                                "descriptionCategoryFr": "some text",
                                                "descriptionCategoryEn": "some text",
                                                "descriptionFr": "some text",
                                                "descriptionEn": "some text"
                                            },
                                            {
                                                "documentId": 45,
                                                "accountId": 70,
                                                "code": "some text",
                                                "name": "some text",
                                                "descriptionCategoryFr": "some text",
                                                "descriptionCategoryEn": "some text",
                                                "descriptionFr": "some text",
                                                "descriptionEn": "some text"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Array of requirement as document type code"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No account with this identifier (accountId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Account requirements",
                "description": "List of available requirement configured for the given account"
            }
        },
        "/account/{accountId}/dossiers/{dossierId}/requirements": {
            "get": {
                "tags": [
                    "Requirements"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier's Id",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DossierRequirement"
                                    },
                                    "properties": {
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Requirement"
                                            }
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Dossier Requirements": {
                                        "value": {
                                            "content": [
                                                {
                                                    "documentId": 2,
                                                    "accountId": 119631,
                                                    "code": "JUSTIF_IMM",
                                                    "name": "Justificatif d’immatriculation",
                                                    "nameEn": "Justificatif d’immatriculation",
                                                    "dossierId": 840158
                                                },
                                                {
                                                    "documentId": 194,
                                                    "accountId": 119631,
                                                    "code": "ADO",
                                                    "name": "Attestation d'inscription ORIAS",
                                                    "nameEn": "Attestation d'inscription ORIAS",
                                                    "dossierId": 840158
                                                },
                                                {
                                                    "documentId": 135,
                                                    "accountId": 119631,
                                                    "code": "CDSCP",
                                                    "name": "Contrat de sous-traitance QOVANS SERVICES",
                                                    "nameEn": "Contrat de sous-traitance QOVANS SERVICES",
                                                    "dossierId": 840158
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": "JSON Array of dossier's requirements"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No account with this identifier (accountId), ou aucun dossier avec cet identifiant (dossierId)."
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Requirements for a given dossier",
                "description": "List one dossier's requirements"
            },
            "post": {
                "requestBody": {
                    "description": "List of requirements",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "List of requirements",
                                "type": "array",
                                "items": {
                                    "title": "Requirement as a document type code",
                                    "type": "string"
                                }
                            },
                            "examples": {
                                "Update requirements example": {
                                    "value": [
                                        "some text",
                                        "some text"
                                    ]
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Dossiers",
                    "Requirements"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "dossierId",
                        "description": "Dossier's Id",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successful dossier update"
                    },
                    "400": {
                        "description": "Malformed request or bad request."
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No dossier with this dossierId"
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "summary": "Update requirement for an active dossier",
                "description": "Add one or more requirement for an active dossier by giving the list documentCodes"
            }
        },
        "/account/{accountId}/dossiers/process/{processId}": {
            "get": {
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "processId",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DossierProcess",
                                    "properties": {
                                        "content": {
                                            "$ref": "#/components/schemas/DossierProcessResult"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Dossier process example": {
                                        "value": {
                                            "processId": "some text"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Dossier async creation process status"
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "No process for this processId"
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Status of dossier creation async process",
                "description": "Status/completeness of a dossier creation by its processId\n"
            }
        },
        "/account/{accountId}/dossiers/processes": {
            "get": {
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "fromDate",
                        "description": "Monitoring start date",
                        "schema": {
                            "format": "date",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DossierProcess"
                                    },
                                    "properties": {
                                        "content": {
                                            "description": "JSON Array indicating the import status of one or more dossier creation from current day -1",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DossierProcessResult"
                                            }
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/Messages"
                                        }
                                    }
                                },
                                "examples": {
                                    "Processes list example": {
                                        "value": [
                                            {
                                                "processId": "some text",
                                                "creation": "2018-02-10T09:30Z",
                                                "complete": true,
                                                "success": true,
                                                "isComplete": "some text",
                                                "isSuccessful": "some text",
                                                "errors": [
                                                    {
                                                        "code": "some text",
                                                        "message": "some text",
                                                        "request": "some text",
                                                        "reason": "some text"
                                                    },
                                                    {
                                                        "code": "some text",
                                                        "message": "some text",
                                                        "request": "some text",
                                                        "reason": "some text"
                                                    }
                                                ],
                                                "params": {
                                                    "requiredDocuments": "some text",
                                                    "companyIDValue": "some text",
                                                    "companyIDType": "some text",
                                                    "purchasingCategory": "some text",
                                                    "userInCharge": "some text",
                                                    "supplierCode": "some text",
                                                    "supplierEmail": "some text",
                                                    "expirationDate": "some text",
                                                    "description": "some text",
                                                    "dossierReference": "some text"
                                                }
                                            },
                                            {
                                                "processId": "some text",
                                                "creation": "2018-02-10T09:30Z",
                                                "complete": true,
                                                "success": true,
                                                "isComplete": "some text",
                                                "isSuccessful": "some text",
                                                "errors": [
                                                    {
                                                        "code": "some text",
                                                        "message": "some text",
                                                        "request": "some text",
                                                        "reason": "some text"
                                                    },
                                                    {
                                                        "code": "some text",
                                                        "message": "some text",
                                                        "request": "some text",
                                                        "reason": "some text"
                                                    }
                                                ],
                                                "params": {
                                                    "requiredDocuments": "some text",
                                                    "companyIDValue": "some text",
                                                    "companyIDType": "some text",
                                                    "purchasingCategory": "some text",
                                                    "userInCharge": "some text",
                                                    "supplierCode": "some text",
                                                    "supplierEmail": "some text",
                                                    "expirationDate": "some text",
                                                    "description": "some text",
                                                    "dossierReference": "some text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Returns an array of JSON objects, indicating the status and the result of imports."
                    },
                    "400": {
                        "description": "Malformed request"
                    },
                    "401": {
                        "description": "Authorization not understood or invalid"
                    },
                    "404": {
                        "description": "Aucun process avec cet identifiant"
                    },
                    "5XX": {
                        "description": "Unexpected error"
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "summary": "Dossier creation status",
                "description": "\nUsed to find out the results of on or several dossier creation.\n\nIf the fromDate parameter is specified, the import results that will be returned are those which were launched from that date.\n\nBy default, the dossier creation results launched in the last 24 hours are returned.\n"
            }
        },
        "/account/{accountId}/dossiers": {
            "summary": "Fetch account's dossier",
            "description": "Get array/list of dossiers in a paginated manner. \n\nBy default the API will send back the first page with 10 dossiers per page. You can specify the page you need with parameters.\n\nWe've developed many capabilities on this new search experience.\n\nYou can eigher :\n\n- Get dossiers with no criteria, it's paginated by default\n- Get all dossiers at once with '/all' path parameter\n- Get dossiers depending on criteria, commbining them if you want\n- Get dossiers depending on thirdpartyCode or dossierReference with an ('op') that can be either:\n    * `like` : which means 'contains'   \n    * `starts` : which means starts with the given value\n    * `ends` : which means ends with the given value\n\nIn the following example we use a search by `tva` AND `thirdpartyCode` with the operator `like` :\n\n```sh\ncurl 'https://{{ea_api_serv}}/api/v1/account/<your account id>/dossiers?tva=FR79811386366&thirdpartyCode=TEST&op=like' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer <your access_token>''\n```\n",
            "get": {
                "tags": [
                    "Dossiers"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "description": "Account ID",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "thirdpartyId",
                        "description": "Identify e-Attestations of the Thirdparty. This is different from the companyIdValue. The thirdpartyId is a technical identifier that uniquely identifies the Thirdparty in the eAttestations platform.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "companyIdType",
                        "description": "Third-party company identifier type (CIT001, CIT002 etc.).",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "companyIdValue",
                        "description": "Filtering by company value (depends on company type)",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "thirdpartyCode",
                        "description": "Thirdparty external ID (from user input or external system)",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "dossierReference",
                        "description": "Allows you to filter by dossier reference. As the dossier reference is unique for a third party / dossier, if this parameter is entered, a maximum of one dossier will be returned.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "monitored",
                        "description": "Filter allowing to return monitored dossiers (monitored = true) or not followed (monitored = false)",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "stateLastChangeDate",
                        "description": "Filter allowing you to return only dossiers with completeness that has changed since a given date.",
                        "schema": {
                            "format": "date",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "siren",
                        "description": "Thirdpary SIREN code",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
[...]
