{
  "openapi": "3.0.0",
  "info": {
      "title": "e-Attestations 'EDGE' API, the evergreening RESTful API",
      "version": "EDGE - v1.3.0",
      "description": "e-Attestations EDGE API is used to ** interface ** a **client** information system with the e-Attestations platform following the HTTP protocol.\n\n[REST] (https://en.wikipedia.org/wiki/Representational_state_transfer) (Representational State Transfer) or RESTful is a style of architecture used to build applications (Web, Intranet, Web Service) by using endpoints ( endpoints urls) and referencing resources to be exploited according to the verbs of the HTTP protocol (GET, POST, PUT, DELETE etc ...).\n\nOur APIs contain predictable resource-oriented URLs, accept request bodies encoded in [JSON] format (https://en.wikipedia.org/wiki/JSON), return encoded responses [JSON] (https: // en. wikipedia.org/wiki/JSON) and uses standard HTTP response codes, authentication and verbs.\n\n'Client' applications using the e-Attestations REST API enrich the Client Information System with the catalog of e-Attestations data and services in a secure and very flexible manner.\n\nThe API can also be used by integrators, software publishers, SAAS solutions or connectors.",
      "termsOfService": "https://www.e-attestations.com/api",
      "contact": {
          "name": "Support",
          "url": "https://e-attestations.io",
          "email": "api@eattestationscom.zohodesk.eu"
      },
      "license": {
          "name": "GNU AGPLv3",
          "url": "https://www.gnu.org/licenses/agpl.txt"
      },
      "x-logo": {
          "url": "https://www.e-attestations.com/images/logo-eattestations.png",
          "altText": "e-Attestations"
      }
  },
  "servers": [
      {
          "url": "https://edge.e-attestations.com/api/v1",
          "description": "PROD"
      },
      {
          "url": "https://edge.test-e-attestations.com/api/v1",
          "description": "TEST"
      }
  ],
  "paths": {
      "/account": {
          "summary": "This resource is the ordering customer and service subscriber to e-Attestations account.",
          "description": "This resource is the ordering customer and service subscriber to e-Attestations account.\n\nThe account identifier is returned in the `account_ids` returned in the JWT token.\n\nIn addition, you can also retrieve your account identifier from the `/account` endpoint without any parameters.\n\nAll requests must include the customer identifier so that every time the account's activation and subscription to the service are verified",
          "get": {
              "tags": [
                  "Account"
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/Account",
                                  "description": "The response has a 'content' property containing statistics and an optional messages attribute (info, warn or error)",
                                  "properties": {
                                      "content": {
                                          "$ref": "#/components/schemas/Account"
                                      },
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              },
                              "examples": {
                                  "Account": {
                                      "value": {
                                          "id": 68,
                                          "account": "some text",
                                          "company": "some text",
                                          "creation": "2018-02-10T09:30Z",
                                          "maxDossiers": 63,
                                          "name": "some text",
                                          "subscriptionDate": "2018-02-10T09:30Z",
                                          "subscriptions": [
                                              {
                                                  "accountId": 85,
                                                  "endSubscriptionDate": "2018-02-10T09:30Z",
                                                  "key": "some text",
                                                  "startSubscriptionDate": "2018-02-10T09:30Z",
                                                  "status": "some text"
                                              },
                                              {
                                                  "accountId": 41,
                                                  "endSubscriptionDate": "2018-02-10T09:30Z",
                                                  "key": "some text",
                                                  "startSubscriptionDate": "2018-02-10T09:30Z",
                                                  "status": "some text"
                                              }
                                          ],
                                          "subscriptionStatus": "some text"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "The account information associated with the TOKEN allows to know the account id and subscription to the service."
                  },
                  "400": {
                      "description": "Malformed request"
                  },
                  "401": {
                      "description": "Authorization not understood or invalid"
                  },
                  "404": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "No account with this identifier (accountId)."
                  },
                  "5XX": {
                      "description": "Unexpected error"
                  }
              },
              "security": [
                  {
                      "Bearer": []
                  }
              ],
              "summary": "Account information",
              "description": "\nRestore the information of the account associated with the TOKEN validated in the request.\nThe information details the subscription to the service."
          }
      },
      "/account/{accountId}": {
          "summary": "Account statistics, usage and indicators",
          "description": "Provides the overall statistics of the account.",
          "get": {
              "tags": [
                  "Account"
              ],
              "parameters": [
                  {
                      "name": "accountId",
                      "description": "Account ID",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "path",
                      "required": true
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/GlobalInformation",
                                  "description": "The response has a 'content' property containing statistics and an optional messages attribute (info, warn or error)",
                                  "properties": {
                                      "content": {
                                          "$ref": "#/components/schemas/GlobalInformation"
                                      },
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              },
                              "examples": {
                                  "GlobalInformation of a given account": {
                                      "value": {
                                          "numberOfThirdparties": 66,
                                          "numberOfSubscribedThirdparties": 49,
                                          "numberOfCompleteThirdparties": 87,
                                          "numberOfDossiers": 57,
                                          "numberOfCompleteDossiers": 45,
                                          "listIndicatorsStatistics": [
                                              {
                                                  "indicatorCode": "some text",
                                                  "numberOfThirdparties": 86,
                                                  "numberOfSubscribedThirdparties": 48,
                                                  "numberOfCompleteThirdparties": 16,
                                                  "numberOfDossiers": 23,
                                                  "numberOfCompleteDossiers": 29
                                              },
                                              {
                                                  "indicatorCode": "some text",
                                                  "numberOfThirdparties": 66,
                                                  "numberOfSubscribedThirdparties": 48,
                                                  "numberOfCompleteThirdparties": 83,
                                                  "numberOfDossiers": 51,
                                                  "numberOfCompleteDossiers": 59
                                              }
                                          ],
                                          "accountId": 29
                                      }
                                  }
                              }
                          }
                      },
                      "description": "Gloable statistics and statistics by indicators. An indicator refers to a subset of required documents. Eg For the indicator \"obligation of vigilance\", the statistics will relate only to the documents of the obligation of vigilance, namely the certificate of vigilance, the proof of registration and the list of foreign employees subject to work authorization ."
                  },
                  "400": {
                      "description": "Malformed request"
                  },
                  "401": {
                      "description": "Authorization not understood or invalid"
                  },
                  "404": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "No account with this identifier (accountId)."
                  },
                  "5XX": {
                      "description": "Unexpected error"
                  }
              },
              "security": [
                  {
                      "Bearer": []
                  }
              ],
              "summary": "Account statistics",
              "description": "Restore the overall statistics of the account. The statistics relate only to the third parties monitored. A monitored Thirdparty is a Thirdparty for which there is at least one active dossier. The statistics relate to third parties and dossiers completeness."
          }
      },
      "/account/{accountId}/thirdparties": {
          "get": {
              "tags": [
                  "Thirdparties"
              ],
              "parameters": [
                  {
                      "name": "accountId",
                      "description": "Account ID",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "path",
                      "required": true
                  },
                  {
                      "name": "monitored",
                      "description": "Allows filtering on monitored third parties (monitored = true) or non-monitored third parties (monitored = false)",
                      "schema": {
                          "type": "boolean"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "companyIdType",
                      "description": "Third-party company identifier type (CIT001, CIT002 etc.).",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "name",
                      "description": "Thirdpary name",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "siren",
                      "description": "Thirdparty SIREN",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "siret",
                      "description": "Thirdparty SIRET",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "tva",
                      "description": "Thirdparty TVA number",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "companyIdValue",
                      "description": "Allows you to filter by Thirdparty company identifier. The identifier can be a SIRET or a VAT Number.",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "stateLastChangeDate",
                      "description": "Filter to return third parties whose overall status has changed since that date.",
                      "schema": {
                          "format": "date",
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "thirdpartyGlobalState",
                      "description": "Filter to return third parties whose overall completeness is \"complete\" (true) or \"incomplete\" (false)",
                      "schema": {
                          "type": "boolean"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "subscriptionState",
                      "description": "Allows you to filter on the registration status of a Thirdparty. This parameter allows to return the registered (subscriptionState = true) or non-registered (subscriptionState = false) third parties",
                      "schema": {
                          "type": "boolean"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "page",
                      "description": "Paging parameter indicating the page number.",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "pageSize",
                      "description": "Pagination parameter indicating the desired page size.",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "op",
                      "description": "An operator that works in conjonction with query parameters 'thirdpartyCode' or 'dossierRefence' (only).\n\nOperator can be either : \n\n- 'like' : means contains the given value\n- 'starts' : means begins with the given value\n- 'ends' : means ends with the given value",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query"
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "$ref": "#/components/schemas/ThirdpartyRepresentation"
                                  },
                                  "properties": {
                                      "content": {
                                          "type": "array",
                                          "items": {
                                              "$ref": "#/components/schemas/ThirdpartyIdentifier"
                                          }
                                      },
                                      "page": {
                                          "description": "Page number",
                                          "type": "integer"
                                      },
                                      "pageSize": {
                                          "description": "page size",
                                          "type": "integer"
                                      },
                                      "totalElements": {
                                          "description": "total number of items",
                                          "type": "integer"
                                      },
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "Returns an array of JSON objects. Each item contains the identification information of a Thirdparty (The eAttestations identifier of the Thirdparty, the type of company identifier, the company identifier of the Thirdparty and the Thirdparty code)."
                  },
                  "400": {
                      "description": "Malformed request"
                  },
                  "401": {
                      "description": "Authorization not understood or invalid"
                  },
                  "404": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "No account with this identifier (accountId)."
                  },
                  "5XX": {
                      "description": "Unexpected error"
                  }
              },
              "security": [
                  {
                      "Bearer": []
                  }
              ],
              "summary": "Thirdparty list",
              "description": "\n## Fetch thirdparties\n\nOn its simplest form, fetch thirparties with Pagination\n\nGet thirdparties :\n`/api/v1/account/{{account_id}}/thirdparties`\n\n\nUsing pagination :\n`/api/v1/account/{{account_id}}/thirdparties?page=0&pageSize=1`\n\nVarious request parameters can be used for searching any particular thirdparty by : \n\n### For non French :\n\n  - SIREN id : `/api/v1/account/{{account_id}}/thirdparties?siren=503829368`\n\n  - SIRET id : `/api/v1/account/{{account_id}}/thirdparties?siret=43258335900109`\n\n### For non French :\n\n  - TVA id : `/api/v1/account/{{account_id}}/thirdparties?tva=B26492108`"
          }
      },
      "/account/{accountId}/thirdparties/{thirdpartyId}": {
          "get": {
              "tags": [
                  "Thirdparties"
              ],
              "parameters": [
                  {
                      "name": "accountId",
                      "description": "Account ID",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "path",
                      "required": true
                  },
                  {
                      "name": "thirdpartyId",
                      "description": "Thirdparty ID",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "path",
                      "required": true
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ThirdpartyDetails",
                                  "properties": {
                                      "content": {
                                          "$ref": "#/components/schemas/ThirdpartyDetails"
                                      },
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "Returns a JSON word containing detailed information from the Thirdparty"
                  },
                  "400": {
                      "description": "Malformed request"
                  },
                  "401": {
                      "description": "Authorization not understood or invalid"
                  },
                  "404": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              }
                          }
                      },
                      "description": "No account with this identifier (accountId) ou aucun tiers avec cet identifiant(thirdpartyId)."
                  },
                  "5XX": {
                      "description": "Unexpected error"
                  }
              },
              "security": [
                  {
                      "Bearer": []
                  }
              ],
              "summary": "Details of a Thirdparty",
              "description": "Used to restore detailed information from a Thirdparty. Are reassembled:\n* Thirdparty \"identity\" information * Thirdparty address * The list of Thirdparty users * Different states (Active?, Registered? ...)"
          }
      },
      "/account/{accountId}/dossiers": {
          "summary": "Fetch account's dossier",
          "description": "Dossiers in a paginated manner. \nBy default the API will send back the first page with 10 dossiers per page.\nYou can specify the page you need with parameters.",
          "get": {
              "tags": [
                  "Dossiers"
              ],
              "parameters": [
                  {
                      "name": "accountId",
                      "description": "Account ID",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "path",
                      "required": true
                  },
                  {
                      "name": "thirdpartyId",
                      "description": "Identify e-Attestations of the Thirdparty. This is different from the companyIdValue. The thirdpartyId is a technical identifier that uniquely identifies the Thirdparty in the eAttestations platform.",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "query"
                  },
                  {
                      "name": "companyIdType",
                      "description": "Third-party company identifier type (CIT001, CIT002 etc.).",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "companyIdValue",
                      "description": "Filtering by company value (depends on company type)",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "thirdpartyCode",
                      "description": "Thirdparty external ID (from user input or external system)",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query"
                  },
                  {
                      "name": "dossierReference",
                      "description": "Allows you to filter by dossier reference. As the dossier reference is unique for a third party / dossier, if this parameter is entered, a maximum of one dossier will be returned.",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "monitored",
                      "description": "Filter allowing to return monitored dossiers (monitored = true) or not followed (monitored = false)",
                      "schema": {
                          "type": "boolean"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "stateLastChangeDate",
                      "description": "Filter allowing you to return only dossiers with completeness that has changed since a given date.",
                      "schema": {
                          "format": "date",
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "siren",
                      "description": "Thirdpary SIREN code",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "siret",
                      "description": "Thirdpary SIRET code",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "tva",
                      "description": "Thirdpary TVA code",
                      "schema": {
                          "type": "string"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "page",
                      "description": "Paging parameter indicating the page number.",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "query",
                      "required": false
                  },
                  {
                      "name": "pageSize",
                      "description": "Pagination parameter indicating the desired page size.",
                      "schema": {
                          "type": "integer"
                      },
                      "in": "query",
                      "required": false
                  }
              ],
              "responses": {
                  "200": {
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "$ref": "#/components/schemas/Dossier"
                                  },
                                  "properties": {
                                      "content": {
                                          "type": "array",
                                          "items": {
                                              "$ref": "#/components/schemas/Dossier"
                                          }
                                      },
                                      "messages": {
                                          "$ref": "#/components/schemas/Messages"
                                      }
                                  }
                              },
                              "examples": {
                                  "Dossiers list example": {
                                      "value": {
                                          "content": [
                                              {
                                                  "dossierId": 881821,
                                                  "accountId": 119631,
                                                  "siren": "493841803",
                                                  "siret": "49384180300056",
                                                  "tva": "FR92493841803",
                                                  "thirdpartyId": 1185,
                                                  "companyIdType": "CIT001",
                                                  "companyIdValue": "49384180300056",
                                                  "thirdpartyCode": "123",
                                                  "companyCountryCode": "FR",
                                                  "monitored": true,
                                                  "isMonitored": "true",
                                                  "dossierReference": "TESTTHOMAS",
                                                  "description": "description_881821",
                                                  "purchasingCategory": "",
                                                  "stoppingReason": "NA",
                                                  "state": false,
                                                  "isComplete": "false",
                                                  "stateLastChangeDate": "2018-12-21T15:45:13.368",
                                                  "indicators": [
                                                      {
                                                          "indicatorCode": "I001",
                                                          "state": true,
                                                          "isComplete": "true",
                                                          "lastChangeDate": "2018-12-04T10:03:01.527"
                                                      }
                                                  ],
                                                  "documents": [
                                                      {
                                                          "documentId": 511148458,
                                                          "documentCode": "ADFÀLCD",
                                                          "documentName": "Attestation de formation à la création-reprise d'entreprise",
                                                          "documentNameEn": "Attestation de formation à la création-reprise d'entreprise",
                                                          "requestDate": "2018-12-04T10:27:28.470",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4337134,
                                                                  "uploadDate": "2018-12-04T10:27:45.485",
                                                                  "fileUUID": "e1bf0408ca5033c464e08dd5ff5044799e2c41d0",
                                                                  "fileCreation": "2018-12-04T10:27:45.480",
                                                                  "fileSize": 224457,
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": [
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_669_nmdl_0",
                                                                          "title": "Nom de la personne formée",
                                                                          "order": 0,
                                                                          "value": "TEST"
                                                                      },
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_669_prnmd_1",
                                                                          "title": "Prénom de la personne formée",
                                                                          "order": 1,
                                                                          "value": "TEST"
                                                                      },
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_669_nmdl_2",
                                                                          "title": "Nom de l'organisme de formation",
                                                                          "order": 2,
                                                                          "value": "TEST"
                                                                      }
                                                                  ]
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 511358857,
                                                          "documentCode": "CDTDDPPA2",
                                                          "documentName": "Convention de traitement des données personnelles pour AWP 2019",
                                                          "documentNameEn": "Convention de traitement des données personnelles pour AWP 2019",
                                                          "requestDate": "2018-12-21T15:45:13.326",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511349302,
                                                          "documentCode": "SSESATH",
                                                          "documentName": "Spécifications Santé et Sécurité au Travail",
                                                          "documentNameEn": "Spécifications Santé et Sécurité au Travail ",
                                                          "requestDate": "2018-12-20T18:00:48.241",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4425359,
                                                                  "uploadDate": "2018-12-20T18:02:32.124",
                                                                  "fileUUID": "670566bd61ae81516ee29668b2077846cdc38696",
                                                                  "fileCreation": "2018-12-20T18:02:32.115",
                                                                  "fileSize": 1003016,
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 511154970,
                                                          "documentCode": "LDSPE",
                                                          "documentName": "Liste des salariés pour ERI",
                                                          "documentNameEn": "Liste des salariés pour ERI",
                                                          "requestDate": "2018-12-05T18:41:45.971",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511154969,
                                                          "documentCode": "LSOS",
                                                          "documentName": "Listing salariés intervenants",
                                                          "documentNameEn": "Listing salariés intervenants",
                                                          "requestDate": "2018-12-05T18:39:48.953",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511148400,
                                                          "documentCode": "JDD",
                                                          "documentName": "Justificatif de domicile",
                                                          "documentNameEn": "Justificatif de domicile",
                                                          "requestDate": "2018-12-04T10:14:40.377",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511148408,
                                                          "documentCode": "ADCÀLFPTI",
                                                          "documentName": "Attestation de contribution à la formation professionnelle travailleur indépendant",
                                                          "documentNameEn": "Attestation de contribution à la formation professionnelle travailleur indépendant",
                                                          "requestDate": "2018-12-04T10:15:48.297",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511148274,
                                                          "documentCode": "ADMP",
                                                          "documentName": "Attestation d’assurance multirisque professionnelle",
                                                          "requestDate": "2018-12-04T10:03:49.031",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4337069,
                                                                  "uploadDate": "2018-12-04T10:17:38.008",
                                                                  "fileUUID": "d92a4c4e3af4ce21c4941a5c6bd7badb71d522e1",
                                                                  "fileCreation": "2018-12-04T10:17:38.004",
                                                                  "fileSize": 224457,
                                                                  "expirationDate": "2099-12-31T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": [
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_670_ndc_0",
                                                                          "title": "N° de contrat",
                                                                          "order": 0,
                                                                          "value": "TEST"
                                                                      },
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_670_nmdl_1",
                                                                          "title": "Nom de l'assureur ou du garant",
                                                                          "order": 1,
                                                                          "value": "TEST"
                                                                      },
                                                                      {
                                                                          "type": "phone",
                                                                          "key": "f_670_ndt_2",
                                                                          "title": "N° de tél. de l'assureur ou du garant",
                                                                          "order": 2,
                                                                          "value": "+33 1 00 00 00 00"
                                                                      },
                                                                      {
                                                                          "type": "amount",
                                                                          "key": "f_670_plfnd_3",
                                                                          "title": "Plafond de garantie",
                                                                          "order": 3,
                                                                          "value": "666"
                                                                      }
                                                                  ]
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 511185667,
                                                          "documentCode": "R0RSVEA",
                                                          "documentName": "REF 000a Referentiel SSI V E ATTESTATIONS",
                                                          "documentNameEn": "REF 000a Referentiel SSI V E ATTESTATIONS",
                                                          "requestDate": "2018-12-12T14:57:37.340",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4391811,
                                                                  "uploadDate": "2018-12-13T10:18:15.171",
                                                                  "fileUUID": "dfa3a7689790a3a32f3d559ffec0785f669ff24e",
                                                                  "fileCreation": "2018-12-13T10:18:15.165",
                                                                  "fileSize": 2337072,
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 511148407,
                                                          "documentCode": "CMD",
                                                          "documentName": "Certificat médical d'aptitude",
                                                          "documentNameEn": "Certificat médical d'aptitude",
                                                          "requestDate": "2018-12-04T10:15:27.978",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4337074,
                                                                  "uploadDate": "2018-12-04T10:18:21.925",
                                                                  "fileUUID": "bada39bc13c4e611204de1763a5186a5e6038ad7",
                                                                  "fileCreation": "2018-12-04T10:18:21.919",
                                                                  "fileSize": 224457,
                                                                  "expirationDate": "2099-12-31T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 511374349,
                                                          "documentCode": "FDDRÀLDÉPBH",
                                                          "documentName": "Formulaire de déclaration relatif à la dépendance économique pour B&B Hotels",
                                                          "requestDate": "2019-01-03T11:42:35.815",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      }
                                                  ]
                                              },
                                              {
                                                  "dossierId": 465550,
                                                  "accountId": 119631,
                                                  "siren": "493841803",
                                                  "siret": "49384180300056",
                                                  "tva": "FR92493841803",
                                                  "thirdpartyId": 1185,
                                                  "companyIdType": "CIT001",
                                                  "companyIdValue": "49384180300056",
                                                  "thirdpartyCode": "123",
                                                  "companyCountryCode": "FR",
                                                  "monitored": true,
                                                  "isMonitored": "true",
                                                  "dossierReference": "VIGILANCE",
                                                  "description": "description_465550",
                                                  "purchasingCategory": "",
                                                  "stoppingReason": "NA",
                                                  "state": false,
                                                  "isComplete": "false",
                                                  "stateLastChangeDate": "2017-04-20T11:02:21.824",
                                                  "indicators": [
                                                      {
                                                          "indicatorCode": "I001",
                                                          "state": true,
                                                          "isComplete": "true",
                                                          "lastChangeDate": "2019-06-25T18:03:02.286"
                                                      }
                                                  ],
                                                  "documents": [
                                                      {
                                                          "documentId": 509048125,
                                                          "documentCode": "ATT_VIGI",
                                                          "documentName": "Attestation de vigilance (6 mois)",
                                                          "documentNameEn": "Attestation de vigilance (6 mois)",
                                                          "requestDate": "2017-04-20T15:45:34.125",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4730924,
                                                                  "uploadDate": "2020-01-02T15:15:07.883",
                                                                  "fileUUID": "c4b17345-2124-41e1-b2d7-a4ed37719445",
                                                                  "fileCreation": "2020-01-02T15:15:07.864",
                                                                  "fileSize": 52544,
                                                                  "expirationDate": "2020-03-31T23:59:59.999",
                                                                  "metadata": {
                                                                      "siren": "484936513",
                                                                      "derniere_periode_analysee_urssaf": "mois de septembre 2019",
                                                                      "forme_cotisation": "TRAVAILLEUR_INDEPENDANT",
                                                                      "code_securite": "W4W92TCTQHN1L9A",
                                                                      "verified": "true",
                                                                      "effectif_urssaf": "0",
                                                                      "date_verification": "02/01/2020",
                                                                      "siret": "[\"48493651300049\"]",
                                                                      "date_certification": "11/09/2019",
                                                                      "masse_salariale_urssaf": "0"
                                                                  },
                                                                  "formdata": []
                                                              },
                                                              {
                                                                  "id": 4774354,
                                                                  "uploadDate": "2020-08-04T15:36:22.919",
                                                                  "fileUUID": "ce6b1a6c-1fca-4478-a9b7-0db6e12df112",
                                                                  "fileCreation": "2020-08-04T15:36:22.893",
                                                                  "fileSize": 55687,
                                                                  "expirationDate": "2020-11-30T23:59:59.999",
                                                                  "metadata": {
                                                                      "code_securite": "IM4ICSENCFI4518",
                                                                      "verified": "true",
                                                                      "date_verification": "04/08/2020"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 510454964,
                                                          "documentCode": "A:ADÀPDR",
                                                          "documentName": "AIPR : autorisation d’intervention à proximité des réseaux",
                                                          "documentNameEn": "AIPR : autorisation d’intervention à proximité des réseaux",
                                                          "requestDate": "2018-06-11T17:26:30.696",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 3810191,
                                                                  "uploadDate": "2018-06-11T17:33:24.897",
                                                                  "fileUUID": "ed393e9814e8cda6bb137244d057ed0edec1e6f5",
                                                                  "fileCreation": "2018-06-11T17:33:24.894",
                                                                  "fileSize": 145537,
                                                                  "expirationDate": "2023-06-04T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              },
                                                              {
                                                                  "id": 3810194,
                                                                  "uploadDate": "2018-06-11T17:34:20.389",
                                                                  "fileUUID": "d899787a01cd988c797c39b71c2f4a6b8d944d0f",
                                                                  "fileCreation": "2018-06-11T17:34:20.387",
                                                                  "fileSize": 96470,
                                                                  "expirationDate": "2023-06-01T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              },
                                                              {
                                                                  "id": 3810203,
                                                                  "uploadDate": "2018-06-11T17:36:47.148",
                                                                  "fileUUID": "49cb5dde2f2a10848f8dc2449d7be93fd8c20e4f",
                                                                  "fileCreation": "2018-06-11T17:36:47.145",
                                                                  "fileSize": 57102,
                                                                  "expirationDate": "2023-06-04T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": [
                                                                      {
                                                                          "type": "string",
                                                                          "key": "f_538_nmtp_0",
                                                                          "title": "Nom et prénom du titulaire",
                                                                          "order": 0,
                                                                          "value": "Test Test"
                                                                      }
                                                                  ]
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 508870087,
                                                          "documentCode": "LIASSE_FISCALE_3666",
                                                          "documentName": "Attestation de régularité fiscale",
                                                          "documentNameEn": "Attestation de régularité fiscale",
                                                          "requestDate": "2017-03-09T12:27:25.751",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 508870084,
                                                          "documentCode": "LST_SAL_ETR",
                                                          "documentName": "Liste nominative des salariés étrangers soumis à autorisation de travail",
                                                          "documentNameEn": "List of names of posted workers subjected to work permit",
                                                          "requestDate": "2017-03-09T12:27:25.657",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510089856,
                                                          "documentCode": "CDPPML",
                                                          "documentName": "Convention de partenariat pour MUTER LOGER",
                                                          "documentNameEn": "Convention de partenariat pour MUTER LOGER",
                                                          "requestDate": "2018-04-06T08:16:32.641",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 508870083,
                                                          "documentCode": "ASLNC",
                                                          "documentName": "Attestation sur l'honneur non cotisant",
                                                          "documentNameEn": "Attestation sur l'honneur non cotisant",
                                                          "requestDate": "2017-03-09T12:27:25.632",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510327074,
                                                          "documentCode": "LDDP-CBIS",
                                                          "documentName": "LexisNexis_Traitement de données personnelles - Clients Business Information Solutions",
                                                          "documentNameEn": "LexisNexis_Traitement de données personnelles - Clients Business Information Solutions",
                                                          "requestDate": "2018-06-06T18:44:41.629",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 509048129,
                                                          "documentCode": "ASLNC",
                                                          "documentName": "Attestation sur l'honneur non cotisant",
                                                          "documentNameEn": "Attestation sur l'honneur non cotisant",
                                                          "requestDate": "2017-04-20T15:45:34.313",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510734659,
                                                          "documentCode": "LDIPEF",
                                                          "documentName": "Liste des interlocuteurs pour Evobus France",
                                                          "documentNameEn": "Liste des interlocuteurs pour Evobus France",
                                                          "requestDate": "2018-07-23T10:44:57.666",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 3601758,
                                                                  "uploadDate": "2018-04-04T10:42:35.815",
                                                                  "fileUUID": "f659ed9d206de6690a4f604879f16615893610f3",
                                                                  "fileCreation": "2018-04-04T10:42:35.804",
                                                                  "fileSize": 837330,
                                                                  "expirationDate": "2020-04-04T23:59:59.999",
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 508870085,
                                                          "documentCode": "JUSTIF_IMM",
                                                          "documentName": "Justificatif d’immatriculation",
                                                          "documentNameEn": "Justificatif d’immatriculation",
                                                          "requestDate": "2017-03-09T12:27:25.687",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 509193540,
                                                          "documentCode": "CEDPDD",
                                                          "documentName": "Copie de la Déclaration préalable de détachement - SIPSI",
                                                          "documentNameEn": "Copy of Prior declaration of posting - SIPSI",
                                                          "requestDate": "2017-06-13T11:04:37.295",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510334098,
                                                          "documentCode": "ESTSP2",
                                                          "documentName": "Exigences SSE Ponticelli Frères ",
                                                          "documentNameEn": "Exigences SSE Ponticelli Frères ",
                                                          "requestDate": "2018-06-08T16:27:23.070",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 3791945,
                                                                  "uploadDate": "2018-06-08T10:23:07.391",
                                                                  "fileUUID": "40d70cfde433c307be684ce77b305333c04a010a",
                                                                  "fileCreation": "2018-06-08T10:23:07.384",
                                                                  "fileSize": 1656387,
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 509048128,
                                                          "documentCode": "LIASSE_FISCALE_3666",
                                                          "documentName": "Attestation de régularité fiscale",
                                                          "documentNameEn": "Attestation de régularité fiscale",
                                                          "requestDate": "2017-04-20T15:45:34.269",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510464611,
                                                          "documentCode": "CDDDPI_1",
                                                          "documentName": "Contrat de délégation de prestations ITEC",
                                                          "requestDate": "2018-06-12T23:23:55.967",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 3816332,
                                                                  "uploadDate": "2018-06-13T09:55:07.088",
                                                                  "fileUUID": "486aa3234a9a1fe76cc0cbc86b4a71b9543e640e",
                                                                  "fileCreation": "2018-06-13T09:55:07.080",
                                                                  "fileSize": 1676312,
                                                                  "metadata": {
                                                                      "verified": "false"
                                                                  },
                                                                  "formdata": [
                                                                      {
                                                                          "type": "text",
                                                                          "key": "f_591_rgn(s_0",
                                                                          "title": "Région(s) du sous-traitant des prestations :",
                                                                          "order": 0,
                                                                          "value": "Ile de France [TEST]"
                                                                      }
                                                                  ]
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 508870086,
                                                          "documentCode": "ASSUR_RCPRO",
                                                          "documentName": "Attestation d’assurance RC Pro",
                                                          "documentNameEn": "Professional Liability Insurance",
                                                          "requestDate": "2017-03-09T12:27:25.727",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 508870088,
                                                          "documentCode": "ATT_VIGI",
                                                          "documentName": "Attestation de vigilance (6 mois)",
                                                          "documentNameEn": "Attestation de vigilance (6 mois)",
                                                          "requestDate": "2017-03-09T12:27:25.777",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510454965,
                                                          "documentCode": "CDDDPI_1",
                                                          "documentName": "Contrat de délégation de prestations ITEC",
                                                          "requestDate": "2018-06-11T17:30:05.654",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 508870347,
                                                          "documentCode": "DPDD",
                                                          "documentName": "Déclaration préalable de détachement",
                                                          "documentNameEn": "Déclaration préalable de détachement",
                                                          "requestDate": "2017-03-09T16:21:51.478",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 508870348,
                                                          "documentCode": "CEDPDD",
                                                          "documentName": "Copie de la Déclaration préalable de détachement - SIPSI",
                                                          "documentNameEn": "Copy of Prior declaration of posting - SIPSI",
                                                          "requestDate": "2017-03-09T16:22:24.911",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 509048127,
                                                          "documentCode": "LST_SAL_ETR",
                                                          "documentName": "Liste nominative des salariés étrangers soumis à autorisation de travail",
                                                          "documentNameEn": "List of names of posted workers subjected to work permit",
                                                          "requestDate": "2017-04-20T15:45:34.228",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4774351,
                                                                  "uploadDate": "2020-04-23T18:37:27.761",
                                                                  "fileUUID": "51660b11-8863-4c39-8b72-eb5b434e48cc",
                                                                  "fileCreation": "2020-04-23T18:37:27.632",
                                                                  "fileSize": 127769,
                                                                  "expirationDate": "2020-10-23T23:59:59.999",
                                                                  "metadata": {},
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 509048126,
                                                          "documentCode": "JUSTIF_IMM",
                                                          "documentName": "Justificatif d’immatriculation",
                                                          "documentNameEn": "Justificatif d’immatriculation",
                                                          "requestDate": "2017-04-20T15:45:34.176",
                                                          "present": true,
                                                          "isPresent": "true",
                                                          "evidences": [
                                                              {
                                                                  "id": 4731590,
                                                                  "uploadDate": "2020-01-28T11:48:54.884",
                                                                  "fileUUID": "d5587b7a-ad9a-4982-a6bc-e8d9368bd95b",
                                                                  "fileCreation": "2020-01-28T11:48:54.834",
                                                                  "fileSize": 72756,
                                                                  "expirationDate": "2020-07-28T23:59:59.999",
                                                                  "metadata": {
                                                                      "siren": "493841803",
                                                                      "date_certification": "28/01/2020"
                                                                  },
                                                                  "formdata": []
                                                              }
                                                          ]
                                                      },
                                                      {
                                                          "documentId": 510303803,
                                                          "documentCode": "CDDDPI_1",
                                                          "documentName": "Contrat de délégation de prestations ITEC",
                                                          "requestDate": "2018-05-31T12:05:06.392",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 509037553,
                                                          "documentCode": "RIB_IBAN",
                                                          "documentName": "International Bank Account Number (IBAN)",
                                                          "documentNameEn": "International Bank Account Number (IBAN)",
                                                          "requestDate": "2017-04-20T11:02:21.803",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510303530,
                                                          "documentCode": "CDDDPI_1",
                                                          "documentName": "Contrat de délégation de prestations ITEC",
                                                          "requestDate": "2018-05-31T11:37:17.075",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      }
                                                  ]
                                              },
                                              {
                                                  "dossierId": 608766,
                                                  "accountId": 119631,
                                                  "siren": "493841803",
                                                  "siret": "49384180300056",
                                                  "tva": "FR92493841803",
                                                  "thirdpartyId": 1185,
                                                  "companyIdType": "CIT001",
                                                  "companyIdValue": "49384180300056",
                                                  "thirdpartyCode": "123",
                                                  "companyCountryCode": "FR",
                                                  "monitored": true,
                                                  "isMonitored": "true",
                                                  "dossierReference": "CARREFOURSUPPLYCHAIN",
                                                  "description": "description_608766",
                                                  "purchasingCategory": "",
                                                  "stoppingReason": "NA",
                                                  "state": false,
                                                  "isComplete": "false",
                                                  "stateLastChangeDate": "2017-12-07T14:51:52.079",
                                                  "indicators": [
                                                      {
                                                          "indicatorCode": "I001",
                                                          "state": true,
                                                          "isComplete": "true",
                                                          "lastChangeDate": "2019-06-25T18:03:02.315"
                                                      }
                                                  ],
                                                  "documents": [
                                                      {
                                                          "documentId": 509915680,
                                                          "documentCode": "C-RT",
                                                          "documentName": "Compliance - Rubis Terminal",
                                                          "documentNameEn": "Compliance - Rubis Terminal",
                                                          "requestDate": "2018-02-16T11:52:14.807",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510894149,
                                                          "documentCode": "CÉN",
                                                          "documentName": "Charte éthique NORAUTO",
                                                          "documentNameEn": "Charte éthique NORAUTO",
                                                          "requestDate": "2018-09-19T11:37:38.196",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510089858,
                                                          "documentCode": "CDPPML",
                                                          "documentName": "Convention de partenariat pour MUTER LOGER",
                                                          "documentNameEn": "Convention de partenariat pour MUTER LOGER",
                                                          "requestDate": "2018-04-06T08:16:37.012",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510939476,
                                                          "documentCode": "LDPAÀAAC2",
                                                          "documentName": "Liste des personnes autorisées à accéder au chantier 2018",
                                                          "documentNameEn": "Liste des personnes autorisées à accéder au chantier 2018",
                                                          "requestDate": "2018-10-04T15:49:40.450",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510944107,
                                                          "documentCode": "RRDDSAG",
                                                          "documentName": "RDA Reconnaissance d'aptitude d'un salarié activité gaz",
                                                          "documentNameEn": "RDA Reconnaissance d'aptitude d'un salarié activité gaz",
                                                          "requestDate": "2018-10-05T12:01:58.980",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511332361,
                                                          "documentCode": "A_198",
                                                          "documentName": "Attestation Représentant Légal Personne Physique TELT",
                                                          "documentNameEn": "Attestation Représentant Légal Personne Physique TELT",
                                                          "requestDate": "2018-12-18T11:02:29.973",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 509701351,
                                                          "documentCode": "ASSUR_RCPRO",
                                                          "documentName": "Attestation d’assurance RC Pro",
                                                          "documentNameEn": "Professional Liability Insurance",
                                                          "requestDate": "2017-12-07T14:51:53.486",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510306996,
                                                          "documentCode": "CÉGF2",
                                                          "documentName": "Charte éthique GEODIS FR 2018",
                                                          "documentNameEn": "Charte éthique GEODIS FR 2018",
                                                          "requestDate": "2018-06-01T10:48:53.628",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 511148266,
                                                          "documentCode": "DDDCDT",
                                                          "documentName": "Récépissé de déclaration d’Intention de Commencement de Travaux-DICT",
                                                          "documentNameEn": "Récépissé de déclaration d’Intention de Commencement de Travaux-DICT",
                                                          "requestDate": "2018-12-04T09:27:47.178",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510083305,
                                                          "documentCode": "LDIPEF",
                                                          "documentName": "Liste des interlocuteurs pour Evobus France",
                                                          "documentNameEn": "Liste des interlocuteurs pour Evobus France",
                                                          "requestDate": "2018-04-04T10:30:04.273",
                                                          "present": false,
                                                          "isPresent": "false",
                                                          "evidences": []
                                                      },
                                                      {
                                                          "documentId": 510302606,
                                                          "documentCode": "DDSM2",
                                                          "documentName": "DÉCLARATION DE SURETE MSC 2018",
                                                          "documentNameEn": "DÉCLARATION DE SURETE MSC 2018",
                                                          "requestDate": "2018-05-30T17:26:08.741",
                                                          "present": false,
                                                          "isPresent": "false",
[...]
