openapi: 3.0.0
info:
    title: e-Attestations RESTful API
    version: 1.2.0a
    description: >-
        The REST / Json e-Attestations API is used to ** interface ** a **client** information system with the
        e-Attestations platform following the HTTP protocol.


        [REST] (https://en.wikipedia.org/wiki/Representational_state_transfer) (Representational State
        Transfer) or RESTful is a style of architecture used to build applications (Web, Intranet, Web
        Service) by using endpoints ( endpoints urls) and referencing resources to be exploited according to
        the verbs of the HTTP protocol (GET, POST, PUT, DELETE etc ...).


        Our APIs contain predictable resource-oriented URLs, accept request bodies encoded in [JSON] format
        (https://en.wikipedia.org/wiki/JSON), return encoded responses [JSON] (https: // en.
        wikipedia.org/wiki/JSON) and uses standard HTTP response codes, authentication and verbs.


        'Client' applications using the e-Attestations REST API enrich the Client Information System with the
        catalog of e-Attestations data and services in a secure and very flexible manner.


        The API can also be used by integrators, software publishers, SAAS solutions or connectors.
    termsOfService: 'https://www.e-attestations.com/api'
    contact:
        name: Support
        url: 'https://api.dev-e-attestations.com'
        email: api-manager@e-attestations.com
    license:
        name: e-attestations licence
        url: 'https://www.e-attestations.com/index.php/qui-sommes-nous/nos-engagements'
    x-logo:
        url: 'https://www.e-attestations.com/images/logo-eattestations.png'
        backgroundColor: '#FFFFFF'
        altText: e-Attestations
servers:
    -
        url: 'https://rs.e-attestations.com/api/v1'
        description: PROD
    -
        url: 'https://rs.dev-e-attestations.com/api/v1'
        description: SANDBOX
paths:
    /account:
        summary: This resource is the ordering customer and service subscriber to e-Attestations account.
        description: >-
            This resource is the ordering customer and service subscriber to e-Attestations account.


            The account identifier is returned in the `account_ids` returned in the JWT token.


            In addition, you can also retrieve your account identifier from the `/account` endpoint without
            any parameters.


            All requests must include the customer identifier so that every time the account's activation and
            subscription to the service are verified
        get:
            tags:
                - Account
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                description: >-
                                    The response has a 'content' property containing statistics and an
                                    optional messages attribute (info, warn or error)
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/Account'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        The account information associated with the TOKEN allows to know the account id and
                        subscription to the service.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            security:
                -
                    Bearer: []
            summary: Account information
            description: |-

                Restore the information of the account associated with the TOKEN validated in the request.
                The information details the subscription to the service.
    '/account/{accountId}':
        get:
            tags:
                - Account
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                description: >-
                                    The response has a 'content' property containing statistics and an
                                    optional messages attribute (info, warn or error)
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/GlobalInformation'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        Gloable statistics and statistics by indicators. An indicator refers to a subset of
                        required documents. Eg For the indicator "obligation of vigilance", the statistics
                        will relate only to the documents of the obligation of vigilance, namely the
                        certificate of vigilance, the proof of registration and the list of foreign employees
                        subject to work authorization .
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            summary: Statistiques globales
            description: >-
                Restore the overall statistics of the account. The statistics relate only to the third parties
                monitored. A monitored third party is a third party for which there is at least one active
                file. The statistics relate to third parties and files and their completeness.
    '/account/{accountId}/thirdparties':
        get:
            tags:
                - Thirdparties
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        type: integer
                    in: path
                    required: true
                -
                    name: monitored
                    description: >-
                        Allows filtering on monitored third parties (monitored = true) or non-monitored third
                        parties (monitored = false)
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: companyIdType
                    description: Type of company identifier
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: name
                    description: Thirdpary name
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: siren
                    description: Thirdparty SIREN
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: siret
                    description: Thirdparty SIRET
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: tva
                    description: Thirdparty TVA number
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: companyIdValue
                    description: >-
                        Allows you to filter by third party company identifier. The identifier can be a SIRET
                        or a VAT Number.
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: stateLastChangeDate
                    description: Filter to return third parties whose overall status has changed since that date.
                    schema:
                        format: date
                        type: string
                    in: query
                    required: false
                -
                    name: thirdpartyGlobalState
                    description: >-
                        Filter to return third parties whose overall completeness is "complete" (true) or
                        "incomplete" (false)
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: subscriptionState
                    description: >-
                        Allows you to filter on the registration status of a third party. This parameter
                        allows to return the registered (subscriptionState = true) or non-registered
                        (subscriptionState = false) third parties
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: page
                    description: Paging parameter indicating the page number.
                    schema:
                        type: integer
                    in: query
                    required: false
                -
                    name: pageSize
                    description: Pagination parameter indicating the desired page size.
                    schema:
                        type: integer
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/ThirdpartyIdentifier'
                                    page:
                                        description: Page number
                                        type: integer
                                    pageSize:
                                        description: page size
                                        type: integer
                                    totalElements:
                                        description: total number of items
                                        type: integer
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        Returns an array of JSON objects. Each item contains the identification information of
                        a third party (The eAttestations identifier of the third party, the type of company
                        identifier, the company identifier of the third party and the third party code).
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            summary: Thirdparty list
            description: >-
                Restore the third repository of the account. This terminator makes it possible to retrieve
                only the identification information of third parties. For more detailed information on the
                third party, use the terminator (GET '/ account / {accountId} / thirdparty / {thirdpartyId}')
    '/account/{accountId}/thirdparties/{thirdpartyId}':
        get:
            tags:
                - Thirdparty
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        type: integer
                    in: path
                    required: true
                -
                    name: thirdpartyId
                    description: Thirdparty ID
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/ThirdpartyDetails'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns a JSON word containing detailed information from the third party
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        No account with this identifier (accountId) ou aucun tiers avec cet
                        identifiant(thirdpartyId).
                5XX:
                    description: Unexpected error
            summary: Details of a third party
            description: >-
                Used to restore detailed information from a third party. Are reassembled:

                * Third party "identity" information * Third party address * The list of third party users *
                Different states (Active?, Registered? ...)
    '/account/{accountId}/dossiers':
        get:
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        type: integer
                    in: path
                    required: true
                -
                    name: thirdpartyId
                    description: >-
                        Identify e-Attestations of the third party. This is different from the companyIdValue.
                        The thirdpartyId is a technical identifier that uniquely identifies the third party in
                        the eAttestations platform.
                    schema:
                        type: integer
                    in: query
                -
                    name: companyIdType
                    description: Permet de filtrer par Type of company identifier du tiers.
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: companyIdValue
                    description: Permet de filtrer par l'identifiant compagnie du tiers (SIRET ou Numéro TVA).
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: thirdpartyCode
                    description: Thirdparty external ID (from user input or external system)
                    schema:
                        type: string
                    in: query
                -
                    name: dossierReference
                    description: >-
                        Allows you to filter by file reference. As the file reference is unique for a third
                        party / file, if this parameter is entered, a maximum of one file will be returned.
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: monitored
                    description: >-
                        Filter allowing to return the files followed (monitored = true) or not followed
                        (monitored = false)
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: stateLastChangeDate
                    description: >-
                        Filter allowing you to return only files whose completeness has changed since a given
                        date.
                    schema:
                        format: date
                        type: string
                    in: query
                    required: false
                -
                    name: siren
                    description: Thirdpary SIREN code
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: siret
                    description: Thirdpary SIRET code
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: tva
                    description: Thirdpary TVA code
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: page
                    description: Paging parameter indicating the page number.
                    schema:
                        type: integer
                    in: query
                    required: false
                -
                    name: pageSize
                    description: Pagination parameter indicating the desired page size.
                    schema:
                        type: integer
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Dossier'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns an array of JSON objects. Each item contains information from a folder.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            summary: Recherche dossiers (multi-critères)
            description: >-
                Used to restore information from one or more files. It is possible to combine the available
                filters to refine the result.
        post:
            requestBody:
                description: >-
                    The folder to import. Contains file information, but also third party identification
                    information.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/NewDossier'
                required: true
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/DossierProcess'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns an array of JSON objects. Each item contains information from a folder.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            summary: Importer un dossier
            description: >-

                Create a folder for a third party. A file allows a client to follow a third party on a certain
                number of requested documents (also called Requirements).

                If the third party does not exist, it is created in the eAttestations platform.

                File import is an asynchronous process. This asynchronism is induced by the process (itself of
                an asynchronous nature) of qualification of third party information by our Data Provider.

                This terminating point launches the import process and returns a process identifier
                (processId). The processing can last several minutes, so to follow the progress of the import
                process and to know its result, a client can use the terminator (GET '/ account / {accountId}
                / dossier / {processId}' ) described below.
    '/account/{accountId}/dossiers/{dossierId}':
        get:
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: File identifier.
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/Dossier'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns the information of a folder.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: File details
            description: Restore information from a file.
        post:
            requestBody:
                description: data to update in the folder.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DossierUpdate'
                required: true
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: File update successfully completed.
                '400':
                    description: Errors in the values ​​transmitted to the server. See the list of errors.
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: Update a file
            description: Update the information in a monitored file (monitored = true).
    '/account/{accountId}/dossiers/{dossierId}/documents':
        get:
            tags:
                - Dossiers
                - Documents
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Document'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns documents from a folder.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: Documents in a file
            description: Return the documents in a file.
    '/account/{accountId}/dossiers/{dossierId}/documents/{documentId}':
        get:
            tags:
                - Dossiers
                - Documents
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: documentId
                    description: Document ID.
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/Document'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Returns the details of a document in a folder.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId) ou aucun document avec et identiant
                5XX:
                    description: Unexpected error
            summary: Details of a file document
            description: Retrieve the details of a document in a file.
    '/account/{accountId}/dossiers/{dossierId}/documents/{documentId}/files/{fileId}':
        get:
            tags:
                - Fichiers
                - Documents
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: documentId
                    description: Document ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: fileId
                    description: File ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/octet-stream:
                            schema:
                                format: binary
                                type: string
                    description: A copy of the file content is returned back
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: >-
                      No file with this identifier (accountId), or no file with this identifier (dossierId) or no document with this identifier (documentId) or no file with this identifier (fileId)
                5XX:
                    description: Unexpected error
            summary: Downloading a document file from a folder
            description: Download the file
    '/account/{accountId}/dossiers/{dossierId}/stop':
        post:
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Arrêt de la surveillance du dossier effectuée avec succès.
                '400':
                    description: Malformed request ou Dossier déjà non suivi.
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: Arrêter le suivi d'un dossier.
            description: Arrêter le suivi d'un dossier
    '/account/{accountId}/dossiers/{dossierId}/reactivate':
        post:
            requestBody:
                description: Attributs du dossier à mettre à jour lors de la réactivation du suivi.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ReactivateDossierData'
                required: true
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Dossier ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Réactivation du suivi du dossier avec succès.
                '400':
                    description: Malformed request ou Dossier déjà suivi ou date d'expiration dans le passé.
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: Réactiver un dossier
            description: Réactiver le suivi d'un dossier.
    '/account/{accountId}/requirements':
        get:
            tags:
                - Requirements
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Requirement'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Retourne un tableau JSON. Chaque item contient un document requis.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            summary: Documents requis
            description: 'Liste des documents requis, disponibles pour un donneur d''ordres'
    '/account/{accountId}/dossiers/{dossierId}/requirements':
        get:
            tags:
                - Dossiers
                - Requirements
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Identifiant du dossier
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Requirement'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Retourne un tableau JSON. Chaque item contient un document requis pour le dossier.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: >-
                        No account with this identifier (accountId), ou aucun dossier avec cet identifiant
                        (dossierId).
                5XX:
                    description: Unexpected error
            summary: Documents requis pour un dossier
            description: Restituer les documents demandés pour un dossier actif.
        post:
            requestBody:
                description: Liste des requirements (documents demandés).
                content:
                    application/json:
                        schema:
                            title: Liste des document demandés
                            type: array
                            items:
                                title: code du document demandé
                                type: string
            tags:
                - Dossiers
                - Requirements
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: dossierId
                    description: Identifiant du dossier
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: Les documents requis pour le dossier ont été mis à jour avec succès.
                '400':
                    description: >-
                        Malformed request ou Erreurs dans les valeurs transmises au serveur. Voir la liste des
                        erreurs.
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: Aucun dossier ayant cet identifiant
                5XX:
                    description: Unexpected error
            summary: Mettre à jour les documents requis
            description: Mettre à jour les documents demandés pour un dossier actif.
    '/account/{accountId}/dossiers/process/{processId}':
        get:
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: processId
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        $ref: '#/components/schemas/DossierProcessResult'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: envoie un mot JSON indiquant le statut et le résultat de l'import.
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: Aucun process avec cet identifiant
                5XX:
                    description: Unexpected error
            summary: Statut de création d'un dossier
            description: >
                Permet de connaître le statut et le résultat d'un import de dossier à partir de l'identifiant
                d'import.
    '/account/{accountId}/dossiers/processes':
        get:
            tags:
                - Dossiers
            parameters:
                -
                    name: accountId
                    description: Account ID
                    schema:
                        format: int64
                        type: integer
                    in: path
                    required: true
                -
                    name: fromDate
                    description: Date de lancement min des imports.
                    schema:
                        format: date
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        description: >-
                                            Tableau contenant des objets JSON, indiquant les statuts d'import
                                            d'un ou plusieurs dossiers.
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/DossierProcessResult'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: 'Renvoie un tableau d''objets JSON, indiquant le statut et le résultat des imports.'
                '400':
                    description: Malformed request
                '401':
                    description: Authorization not understood or invalid
                '404':
                    description: Aucun process avec cet identifiant
                5XX:
                    description: Unexpected error
            summary: Statut de création de dossiers
            description: >

                Permet de connaître les résultats d'import de plusieurs dossiers.


                Si le paramètre fromDate est renseigné, les résultats d'imports qui seront retournée sont ceux
                qui ont été lancés à partir de cette date.


                Par défaut, les résultats d'imports lancés dans les dernières 24h sont retrounés.
    '/account/{accountId}/dossiers/search':
        summary: Recherche par critères
        description: Recherches par critères spécifiés en paramètre de la requête
        get:
            tags:
                - Dossiers
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    content:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Dossier'
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: >-
                        Returns an array of JSON objects. Each item contains information from a folder.
                        Renvoie la ou les valeurs trouvées suivant les critères 'q' et 'val'
                '400':
                    description: Malformed request ou incorrecte
                '401':
                    description: Authorization not understood or invalid
                '404':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    messages:
                                        $ref: '#/components/schemas/Messages'
                    description: No account with this identifier (accountId).
                5XX:
                    description: Unexpected error
            security:
                -
                    Bearer: []
            summary: Recherche par critères
            description: >-
                La recheche des dossiers est possible en spécifiant la donnée sur laquelle on veut effectuer
                une recherche 'q' et une valeur 'val' qui peut être partielle (grace au caractère '*')
        parameters:
            -
                name: accountId
                in: path
                required: true
            -
                examples:
                    Recherche sur par marché/référence dossier:
                        value: '"MARCH_PUB*"'
                name: q
                description: |-
                    Type de recherche : 
                    - reference : reference dossier
                    - credate : date de création du dossier
                    - enddate : fin de dossier
                    - status : true = status actif du dossier
                schema:
                    type: string
                in: query
                required: true
            -
                name: val
                description: |-
                    Valeur du critère cherché et dépendant du type de recherche. 
                    La valeur cherchée peut être 'partielle' grace au caractère '*'.
                    La valeur '*' remplace une partie de la valeur de type chaine recherchée 
                    La recherche sur '*' seule est interdite. 
                    Par exemple : MARCH_PUB* est équivalant à "commence part MARCH_PUB*".
                schema:
                    type: string
                in: query
                required: true
components:
    schemas:
        Account:
            title: Compte eAttestations
            description: Contains the information of the account (s) and its / their subscription (s).
            type: object
            properties:
                id:
                    format: int64
                    description: Account ID To be used in all API calls
                    type: integer
                account:
                    description: Name of the eAttestations account
                    type: string
                company:
                    description: Name of the legal entity of the account
                    type: string
                creation:
                    format: date-time
                    description: Date the account
                    type: string
                maxDossiers:
                    format: int32
                    description: Limit on number of files
                    type: integer
                name:
                    description: Account name
                    type: string
                subscriptionDate:
                    format: date-time
                    description: Date of subscription to the service
                    type: string
                subscriptions:
                    description: List of subscriptions for this account
                    type: array
                    items:
                        $ref: '#/components/schemas/Subscription'
            example:
                content:
                    -
                        id: 119631
                        creation: '2015-04-02T10:56:07.736'
                        account: CPTDO2E2FFC774EDD6637F
                        name: Compte Test
                        company: Compte Test
                        maxDossiers: 10
                        subscriptionDate: '2019-04-29T13:20:02.102973'
                        subscriptionStatus: ACTIVE
                        subscriptions:
                            -
                                accountId: 119631
                                key: APIEDGE
                                startSubscriptionDate: '2019-04-29T13:20:02.102973'
                                status: ACTIVE
        GlobalInformation:
            title: Global Informations
            description: This JSON word contains global statistics and statistics by indicator.
            type: object
            properties:
                numberOfThirdparties:
                    format: int64
                    description: The total number of thirds of the account.
                    type: integer
                numberOfSubscribedThirdparties:
                    format: int64
                    description: The total number of third parties registered for a client.
                    type: integer
                numberOfCompleteThirdparties:
                    format: int64
                    description: >-
                        The total number of third parties for which all active files are complete. In other words, the third parties who have submitted all the documents required by this client.
                    type: integer
                numberOfDossiers:
                    format: int64
                    description: The total number of active files.
                    type: integer
                numberOfCompleteDossiers:
                    format: int64
                    description: >-
                        The total number of complete files. In other words, the files for which all the required documents have been filed.
                    type: integer
                listIndicatorsStatistics:
                    description: Table containing statistics by indicator (E.g. Obligation of vigilance).
                    type: array
                    items:
                        $ref: '#/components/schemas/StatisticsIndicator'
            example:
                numberOfThirdparties: 97
                numberOfSubscribedThirdparties: 62
                numberOfCompleteThirdparties: 52
                numberOfDossiers: 11
                numberOfCompleteDossiers: 79
                listIndicatorsStatistics:
                    -
                        indicatorCode: some text
                        numberOfThirdparties: 53
                        numberOfSubscribedThirdparties: 3
                        numberOfCompleteThirdparties: 6
                        numberOfDossiers: 70
                        numberOfCompleteDossiers: 75
                    -
                        indicatorCode: some text
                        numberOfThirdparties: 55
                        numberOfSubscribedThirdparties: 90
                        numberOfCompleteThirdparties: 0
                        numberOfDossiers: 35
                        numberOfCompleteDossiers: 41
        StatisticsIndicator:
            title: Statistics indicator
            description: Word Json containing statistics on an indicator (E.g. Obligation of vigilance).
            type: object
            properties:
                indicatorCode:
                    description: Indicator code.
                    type: string
                numberOfThirdparties:
                    format: int64
                    description: The number of thirds of the ordering customer account restricted on this indicator.
                    type: integer
                numberOfSubscribedThirdparties:
                    format: int64
                    description: The number of third parties registered restricted on this indicator.
                    type: integer
                numberOfCompleteThirdparties:
                    format: int64
                    description: >-
                        The number of third parties for which all the files are complete, restricted on this indicator.
                    type: integer
                numberOfDossiers:
                    format: int64
                    description: The number of accounts in the account, restricted on this indicator.
                    type: integer
                numberOfCompleteDossiers:
                    format: int64
                    description: The number of complete accounts in the account, restricted on this indicator.
                    type: integer
            example:
                indicatorCode: some text
                numberOfThirdparties: 6
                numberOfSubscribedThirdparties: 66
                numberOfCompleteThirdparties: 63
                numberOfDossiers: 69
                numberOfCompleteDossiers: 71
        NewDossier:
            title: Dossier to be created
            description: >-
                JSON word representing a file, sent in the body of the POST request to import a file.
            required:
                - companyIdType
                - companyIdValue
                - dossierReference
            type: object
            properties:
                companyIdType:
                    description: Type of company identifier
                    type: string
                companyIdValue:
                    description: Third party company identifier (SIRET or intra community VAT)
                    type: string
                thirdpartyCode:
                    description: Third party code. It is an internal identifier for the client
                    type: string
                dossierReference:
                    description: Dossier reference code
                    type: string
                description:
                    description: Dossier description
                    type: string
                purchasingCategory:
                    description: Dossier purchase category
                    type: string
                expirationDate:
                    format: date
                    description: File expiration date. After this date, the file is no longer followed (Attribute "monitored" of the file changes to false)
                    type: string
                requiredDocuments:
                    description: List of documents (requirements) requested in this file for this third party. If no document is requested, the default set of documents is requested, i.e. the documents of the obligation of vigilance.
                    type: array
                    items:
                        type: string
                thirdpartyEmail:
                    description: List of emails from third-party contacts. If a third party is not registered, these emails will be used to send the invitations.
                    type: array
                    items:
                        format: email
                        type: string
                userInCharge:
                    description: >-
                      List of emails from those responsible for the file on the ordering side. If an email does not correspond to any registered user, an invitation to register on the ordering e-Attestations platform is sent to this Email.
                    type: array
                    items:
                        format: email
                        type: string
            example:
                companyIdType: some text
                companyIdValue: some text
                thirdpartyCode: some text
                dossierReference: some text
                description: some text
                purchasingCategory: some text
                expirationDate: '2018-01-17'
                requiredDocuments:
                    - some text
                    - some text
                thirdpartyEmail:
                    - ''
                    - ''
                userInCharge:
                    - ''
                    - ''
        DossierProcess:
            title: Dossier processing
            description: Dossier processing details
            type: object
            properties:
                processId:
                    description: Process ID
                    type: string
            example:
                processId: some text
        DossierProcessResult:
            title: DossierProcessResult
            description: Processing details of the dossier
            type: object
            properties:
                processId:
                    description: Process ID for dossier creation
                    type: string
                complete:
                    description: If completed
                    type: boolean
                success:
                    description: If success
                    type: boolean
                errors:
                    description: Array of errors
                    type: array
                    items:
                        $ref: '#/components/schemas/Message'
            example:
                processId: some text
                complete: true
                success: true
                errors:
                    -
                        code: some text
                        message: some text
                    -
                        code: some text
                        message: some text
        ThirdpartyIdentifier:
            title: Thirdparty identifier
            description: JSON word representing the identifying information of a third party.
            type: object
            properties:
                thirdpartyId:
                    description: >-
                      Identify e-Attestations of the third party. This is different from the companyIdValue. The thirdpartyId is a technical identifier that uniquely identifies the third party in the eAttestations platform.
                    type: integer
                companyIdType:
                    description: Type of company identifier.
                    type: string
                companyIdValue:
                    description: Third-party company identifier (SIRET or intra-community VAT).
                    type: string
                thirdpartyCode:
                    description: Third party code. It is an internal client identifier.
                    type: string
            example:
                thirdpartyId: 79
                companyIdType: some text
                companyIdValue: some text
                thirdpartyCode: some text
        ThirdpartyDetails:
            title: Details of a third party
            description: JSON word representing Details of a third party. The information constituting the address as well as the corporate name of the third party is provided by our Data Provider from the identifier of the third party.
            type: object
            properties:
                thirdpartyId:
                    format: int64
                    description: Identify e-Attestations of the third party. This is different from the companyIdValue. The thirdpartyId is a technical identifier that uniquely identifies the third party in the eAttestations platform.
                    type: integer
                accountId:
                    format: int64
                    description: Account ID
                    type: integer
                companyIdType:
                    description: Type of company identifier.
                    type: string
                companyIdValue:
                    description: Third-party company identifier (SIRET or intra-community VAT).
                    type: string
                thirdpartyCode:
                    description: Thirdparty code. It is an internal client identifier.
                    type: string
                monitored:
                    description: Indicates whether the third party is being followed. This attribute is true if the third party is followed, false otherwise. A third party is followed up as soon as they have a followed up file.
                    type: boolean
                name:
                    description: Third party company name. This is automatically provided by our data provider using the third party identifier (Siret number or VAT number)
                    type: string
                addressStreet:
                    description: Street part of Thirdparty's address
                    type: string
                addressCity:
                    description: City part of Thirdparty's address
                    type: string
                addressPostCode:
                    description: Zipcode part of Thirdparty's address
                    type: string
                addressCountryCode:
                    description: Country part of Thirdparty's address
                    type: string
                subscriptionState:
                    description: Third party registration status. True if the third party is registered, False otherwise.
                    type: boolean
                subscriptionDate:
                    format: date
                    description: Third party registration date.
                    type: string
                subscriptionKey:
                    description: Key registration code.
                    type: string
                outOfBusiness:
                    description: Indicates whether the establishment is closed. True if it is, False otherwise.
                    type: boolean
                stateLastChangeDate:
                    format: date
                    description: Last date on which the overall state of the third party changed.
                    type: string
                thirdpartyGlobalState:
                    description: >-
                      Overall completeness of the third party. A value of true means that all files are in the complete state. A value of false (Incomplete) means that at least one or more files are in the incomplete state.
                    type: boolean
                acronym:
                    description: Thirdpary acronym
                    type: string
                activityCode:
                    description: Thirdpary APE activity wording
                    type: string
                activityLabel:
                    description: Thirdpary APE activity wording
                    type: string
                capital:
                    format: int64
                    description: Known capital for the third party
                    type: integer
                capitalCurrency:
                    description: Currency of known capital for the third party
                    type: string
                ceo:
                    description: Company Executive Officier
                    type: string
                datecreation:
                    format: date
                    description: Date of creation of the third party in the eAttestations database
                    type: string
                lastBalanceSheetDate:
                    format: date
                    description: Last date of known operating income
                    type: string
                legalCategoryCode:
                    description: Legal code of activity
                    type: string
                legalCategoryLabel:
                    description: Legal wording of activity
                    type: string
                siren:
                    description: SIREN identifier (for French)
                    type: string
                siret:
                    description: SIRET identifier of the establishment (for French thirdparties)
                    type: string
                turnover:
                    format: double
                    description: Last known third-party turnover
                    type: number
                turnoverCurrency:
                    description: Currency of last known third-party turnover
                    type: string
                tva:
                    description: Thirdparty's TVA code
                    type: string
                workforce:
                    format: int32
                    description: Thirdpary's workforce
                    type: integer
                thirdpartyUsers:
                    description: Information about the users of the third-party account.
                    type: array
                    items:
                        $ref: '#/components/schemas/UserInformation'
            example:
                thirdpartyId: 39
                accountId: 70
                companyIdType: some text
                companyIdValue: some text
                thirdpartyCode: some text
                monitored: true
                name: some text
                addressStreet: some text
                addressCity: some text
                addressPostCode: some text
                addressCountryCode: some text
                subscriptionState: true
                subscriptionDate: '2018-01-17'
                subscriptionKey: some text
                outOfBusiness: true
                stateLastChangeDate: '2018-01-17'
                thirdpartyGlobalState": true
                acronym: some text
                activityCode: some text
                activityLabel: some text
                capital: 90
                capitalCurrency: some text
                ceo: some text
                datecreation: '2018-01-17'
                lastBalanceSheetDate: '2018-01-17'
                legalCategoryCode: some text
                legalCategoryLabel: some text
                siren: some text
                siret: some text
                turnover: 32.85
                turnoverCurrency: some text
                tva: some text
                workforce: 82
                thirdpartyUsers:
                    -
                        firstname: some text
                        lastname: some text
                        email: ''
                        phone: some text
                    -
                        firstname: some text
                        lastname: some text
                        email: ''
                        phone: some text
        UserInformation:
            title: User information
            description: User information and details.
            type: object
            properties:
                firstname:
                    description: user's firstname
                    type: string
                lastname:
                    description: user's lastname
                    type: string
                email:
                    format: email
                    description: user's email
                    type: string
                phone:
                    description: Numéro de téléphone de l'utilisateur au format international.
                    type: string
            example:
                firstname: some text
                lastname: some text
                email: ''
                phone: some text
        DossierUpdate:
            title: Dossier content for update
            type: object
            properties:
                dossierReference:
                    description: Dossier refence code
                    type: string
                description:
                    description: Dossier description
                    type: string
                purchasingCategory:
                    description: Category purchase of the dossier
                    type: string
                expirationDate:
                    format: date
                    description: >-
                      File expiration date. After this date, the file is no longer followed (Attribute "monitored" of the file changes to false)
                    type: string
                thirdpartyCode:
                    description: Third party code. It is an internal client identifier.
                    type: string
                thirdpartyEmail:
                    description: >-
                      List of emails from third-party contacts. If a third party is not registered, these emails will be used to send the invitations.
                    type: array
                    items:
                        format: email
                        type: string
            example:
                dossierReference: some text
                description: some text
                purchasingCategory: some text
                expirationDate: '2018-01-17'
                thirdpartyCode: some text
                thirdpartyEmail:
                    - ''
                    - ''
        Dossier:
            title: Dossier
            description: Dossier content information, details, documents etc.
            type: object
            properties:
                dossierId:
                    format: int64
                    description: Dossier ID
                    type: integer
                accountId:
                    format: int64
                    description: Account ID
                    type: integer
                thirdpartyId:
                    format: int64
                    description: >-
                      Identify e-Attestations of the third party. This is different from the companyIdValue. The thirdpartyId is a technical identifier that uniquely identifies the third party in the eAttestations platform.
                    type: integer
                companyIdType:
                    description: Thirdpary's company type code (CIT001, CIT002, etc.)
                    type: string
                companyIdValue:
                    description: Principal Thirdpary's company ID code (which is SIRET or TVA codes most of the time).
                    type: string
                thirdpartyCode:
                    description: Thirdparty Code. This code is an external key (a.k.a from within client system)
                    type: string
                companyCountryCode:
                    description: Third country code. This is an alpha-3 code from the ISO 3166-1 standard.
                    type: string
                monitored:
                    description: Indicates if the file is followed (True) or not followed (False)
                    type: boolean
                dossierReference:
                    description: Dossier reference code
                    type: string
                description:
                    description: Dossier description
                    type: string
                purchasingCategory:
                    description: Category purchase/market of the file
                    type: string
                startingDate:
                    format: date
                    description: Start date for monitoring the 'dossier'
                    type: string
                expirationDate:
                    format: date
                    description: >-
                      Expiration date for follow-up From this date, the file automatically changes to the "not followed" state
                    type: string
                stoppingDate:
                    format: date
                    description: Stop date for monitoring the 'dossier'
                    type: string
                stoppingReason:
                    description: >
                      Details concerning the termination of the file: OUTOFBUSINESS (company canceled), EXPIRATION (the file has reached its expiration date), STOPREQUEST (a request to stop was made in an explicit and immediate manner), UNKNOWN (information absent). Not null only if folder deactivated.
                    type: string
                state:
                    description: >-
                      File completeness indicator. True if all the requested documents are present, false otherwise.
                    type: boolean
                stateLastChangeDate:
                    format: date
                    description: Date of the last change in the completeness of the file.
                    type: string
                indicators:
                    description: List of indicators in the dossier.
                    type: array
                    items:
                      $ref: '#/components/schemas/DossierIndicator'
                documents:
                    description: List of documents requested for the file.
                    type: array
                    items:
                        $ref: '#/components/schemas/Document'
            example:
                dossierId: 5
                accountId: 51
                thirdpartyId: 18
                companyIdType: some text
                companyIdValue: some text
                thirdpartyCode: some text
                companyCountryCode: some text
                monitored: true
                dossierReference: some text
                description: some text
                purchasingCategory: some text
                startingDate: '2018-01-17'
                expirationDate: '2018-01-17'
                stoppingDate: '2018-01-17'
                stoppingReason: some text
                state: true
                stateLastChangeDate: '2018-01-17'
                indicators:
                    -
                        indicatorCode: some text
                        state: true
                        lastChangeDate: '2018-01-17'
                    -
                        indicatorCode: some text
                        state: true
                        lastChangeDate: '2018-01-17'
                documents:
                    -
                        documentId: 14
                        documentCode: some text
                        name: some text
                        requestDate: '2018-01-17'
                        present: true
                        listFileInformation:
                            -
                                fileId: 70
                                uploadDate: '2018-01-17'
                                fileUUID: ''
                                fileCreation: '2018-01-17'
                                fileSize: 86
                                expirationDate: '2018-01-17'
                            -
                                fileId: 67
                                uploadDate: '2018-01-17'
                                fileUUID: ''
                                fileCreation: '2018-01-17'
                                fileSize: 29
                                expirationDate: '2018-01-17'
                    -
                        documentId: 0
                        documentCode: some text
                        name: some text
                        requestDate: '2018-01-17'
                        present: true
                        listFileInformation:
                            -
                                fileId: 4
                                uploadDate: '2018-01-17'
                                fileUUID: ''
                                fileCreation: '2018-01-17'
                                fileSize: 44
                                expirationDate: '2018-01-17'
                            -
                                fileId: 83
                                uploadDate: '2018-01-17'
                                fileUUID: ''
                                fileCreation: '2018-01-17'
                                fileSize: 50
                                expirationDate: '2018-01-17'
        Requirement:
            title: Requirement
            description: A requirement, document or evidence proof required
            type: object
            properties:
                documentId:
                    description: Requirment ID
                    type: integer
                accountId:
                    description: Account ID
                    type: integer
                code:
                    description: Internal Code identifying the requirement
                    type: string
                name:
                    description: Name of requirement or evidence
                    type: string
                descriptionCategoryFr:
                    description: Description of the category of the requirement in French
                    type: string
                descriptionCategoryEn:
                    description: Description of the category of the requirement in English
                    type: string
                descriptionFr:
                    description: Description of the requirement in French
                    type: string
                descriptionEn:
                    description: Description of the requirement in English
                    type: string
            example:
                documentId: 88
                accountId: 97
                code: some text
                name: some text
                descriptionCategoryFr: some text
                descriptionCategoryEn: some text
                descriptionFr: some text
                descriptionEn: some text
        DossierIndicator:
            title: Dossier indicator
            description: Status of a dossier for completness or other kind of information
            type: object
            properties:
                indicatorCode:
                    description: Indicator Code
                    type: string
                state:
                    description: >-
                      State of the indicator. True if all the requested documents of the indicator are present, false otherwise.
                    type: boolean
                lastChangeDate:
                    format: date
                    description: Date of the last change in the status of the indicator.
                    type: string
            example:
                indicatorCode: some text
                state: true
                lastChangeDate: '2018-01-17'
        Document:
            title: Document or evidence requested for the file
            description: A requirement such as a requested document, a signature, something to bring to the file
            type: object
            properties:
                documentId:
                    format: int64
                    description: Document ID
                    type: integer
                documentCode:
                    description: Document Code
                    type: string
                name:
                    description: Document name
                    type: string
                requestDate:
                    format: date
                    description: Date the document was requested.
                    type: string
                present:
                    description: Document presence
                    type: boolean
                listFileInformation:
                    description: Information of the file (s) present for this document.
                    type: array
                    items:
                        $ref: '#/components/schemas/FileInformation'
            example:
                documentId: 48
                documentCode: some text
                name: some text
                requestDate: '2018-01-17'
                present: true
                listFileInformation:
                    -
                        fileId: 85
                        uploadDate: '2018-01-17'
                        fileUUID: ''
                        fileCreation: '2018-01-17'
                        fileSize: 7
                        expirationDate: '2018-01-17'
                    -
                        fileId: 12
                        uploadDate: '2018-01-17'
                        fileUUID: ''
                        fileCreation: '2018-01-17'
                        fileSize: 40
                        expirationDate: '2018-01-17'
        FileInformation:
            title: File information
            description: File informations uploaded by the thirdparty or automaticaly by e-Attestations
            type: object
            properties:
                fileId:
                    format: int64
                    description: File ID
                    type: integer
                uploadDate:
                    format: date
                    description: Document upload date
                    type: string
                fileUUID:
                    format: string
                    description: File unique identifier (UUID v4)
                    type: string
                fileCreation:
                    format: date
                    description: File creation date
                    type: string
                fileSize:
                    format: int64
                    description: File size (bytes)
                    type: integer
                expirationDate:
                    format: date
                    description: Document expiration date
                    type: string
            example:
                fileId: 96
                uploadDate: '2018-01-17'
                fileUUID: ''
                fileCreation: '2018-01-17'
                fileSize: 77
                expirationDate: '2018-01-17'
        ReactivateDossierData:
            description: Information of the file to be updated when reactivating the follow-up.
            type: object
            properties:
                expirationDate:
                    format: date
                    description: >-
                      Expiration date of the follow-up of the file. After this date, the file is no longer followed (Attribute "monitored" of the file changes to false).
                    type: string
            example:
                expirationDate: '2018-01-17'
        Message:
            description: Un message.
            properties:
                code:
                    description: Code du message.
                    type: string
                message:
                    description: texte du message.
                    type: string
            example:
                code: some text
                message: some text
        Messages:
            description: >-
                Messages from a response to a REST / JSON API call. It contains information, warning and error messages.
            type: object
            properties:
                info:
                    description: Information messages
                    type: array
                    items:
                        $ref: '#/components/schemas/Message'
                warning:
                    description: Warning messages
                    type: array
                    items:
                        $ref: '#/components/schemas/Message'
                error:
                    description: Error messages
                    type: array
                    items:
                        $ref: '#/components/schemas/Message'
            example:
                info:
                    -
                        code: some text
                        message: some text
                    -
                        code: some text
                        message: some text
                warning:
                    -
                        code: some text
                        message: some text
                    -
                        code: some text
                        message: some text
                error:
                    -
                        code: some text
                        message: some text
                    -
                        code: some text
                        message: some text
        Subscription:
            title: Subscription
            type: object
            properties:
                accountId:
                    format: int64
                    description: Subscription linked account
                    type: integer
                endSubscriptionDate:
                    format: date-time
                    description: subscription ending date
                    type: string
                key:
                    description: Subscription product code
                    type: string
                startSubscriptionDate:
                    format: date-time
                    description: Subscription starting date
                    type: string
                status:
                    description: Subscription status
                    type: string
            example:
                accountId: 85
                endSubscriptionDate: '2018-02-10T09:30Z'
                key: some text
                startSubscriptionDate: '2018-02-10T09:30Z'
                status: some text
    securitySchemes:
        Bearer:
            scheme: bearer
            bearerFormat: JWT
            type: http
            description: >-
                To perform an authentication you must add an HTTP header in the form 'Authorization: Bearer
                {JWT}' where 'access_code' is the JWT provided by e-Attestations authentication service
security:
    -
        Bearer: []
tags:
    -
        name: Compte
        description: Information of your account (s) having a subscription to the services
    -
        name: Tiers
        description: Information and research of your third parties for an account
    -
        name: Dossiers
        description: Information and research of your third party compliance monitoring files
    -
        name: Documents
        description: Information on the documents required for a file
    -
        name: Fichiers
        description: Attachments provided by e-Certificates or deposited by the third party at your request
    -
        name: Requirements
        description: E-Attestations compliance requirements
x-tagGroups:
    -
        name: Account Management
        tags:
            - Account
    -
        name: Documents Management
        tags:
            - Documents
            - Fichiers
    -
        name: Thirdparty Management
        tags:
            - Thirdparties
            - Dossiers
            - Requirements
